extends ../layout/layout.pug

block view    
    .companyNavWrap
        //<!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/about_hotStory.html") 關於ＯＨ.YA.CLUBE
                li.breadcrumb-item.active(aria-current="page") 最新消息
        //<!------------------------- 這是左邊導覽列！當前頁面時＋上class名稱.companyNavActive-------------------------
        .service-Wrap
            .col-md-3.webNav
                h3.companyNavTitle 關於OH.YA.CLUBE
                ul.companyNav
                    li
                        a.companyNavItem.companyNavActive(href="../pages/about_hotStory.html") 最新消息
                    li
                        a.companyNavItem(href="../pages/about_aboutUs.html") 關於我們
                    li
                        a.companyNavItem(href="../pages/about_contactUs.html") 聯絡我們
            //<!------------------------- 這是右邊內容！-------------------------
            .col-md-9.companyContentWrap
                p.hotStoryTitle.pb-3 [ 最新消息 ]
                ul.hotStoryList
                    li.hotStoryListItem
                        .hotStoryListItemPic
                            a(href="../pages/about_hotStory_detail.html")
                                img(src="../../assets/ad2.jpg", alt)
                        .hotStoryListItemTxt
                            span.hotStorydate 2021-07-28
                            a(href="../pages/about_hotStory_detail.html") 
                                p.hotStoryTitle 8/1~8/3 立馬加入會員，享免運30天優惠券！
                            p.hotStoryListItemContent.
                                為了提供顧客更好的消費體驗，OH.YA.CLUB官網上線囉！ 快加入會員享免運30天優惠券！......
                    li.hotStoryListItem
                        .hotStoryListItemPic
                            a(href="../pages/about_hotStory_detail.html")
                                img(src="../../assets/ad2.jpg", alt)
                        .hotStoryListItemTxt
                            span.hotStorydate 2021-07-28
                            a(href="../pages/about_hotStory_detail.html") 
                                p.hotStoryTitle 8/1~8/3 立馬加入會員，享免運30天優惠券！
                            p.hotStoryListItemContent.
                                為了提供顧客更好的消費體驗，OH.YA.CLUB官網上線囉！ 快加入會員享免運30天優惠券！......
                nav.clickPage(aria-label="Page navigation example")
                    ul.pagination
                        li.page-item
                            a.page-link(href="#", aria-label="Previous")
                                span(aria-hidden="true") «
                        li.page-item
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href="#") 2
                        li.page-item
                            a.page-link(href="#") 3
                        li.page-item
                            a.page-link(href="#", aria-label="Next")
                                span(aria-hidden="true") »                        
        //<!------------------------- 這是頁面點選！-------------------------
        