extends ../layout/layout.pug

block view    
    .companyNavWrap
        //<!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/about_hotStory.html") 關於ＯＨ.YA.CLUBE
                li.breadcrumb-item.active(aria-current="page") 聯絡我們
        //<!------------------------- 這是左邊導覽列！當前頁面時＋上class名稱.companyNavActive-------------------------
        .service-Wrap
            .col-md-3.webNav
                h3.companyNavTitle 關於OH.YA.CLUBE
                ul.companyNav
                    li
                        a.companyNavItem(href="../pages/about_hotStory.html") 最新消息
                    li
                        a.companyNavItem(href="../pages/about_aboutUs.html") 關於我們
                    li
                        a.companyNavItem.companyNavActive(href="../pages/about_contactUs.html") 聯絡我們
            //<!------------------------- 這是右邊內容！-------------------------
            .col-md-9.companyContentWrap
                ul.companyContent
                    li.bold 【親愛的會員您好】
                    li 如果您有任何問題與建議，或對我們的商品及訂單有任何疑問及反應，請於FB或IG直接私訊詢問，將有專人為您服務。
                ul.companyContent    
                    li.bold 【防詐騙聲明】
                    li 提醒您，我們絕不會以任何理由跟您詢問銀行帳號、信用卡卡號、或請您操作ATM，如果有人以名義稱您的訂單金額有問題，詢問或要求您去操作ATM， 那一定是詐騙集團，請千萬不要上當。
                .socialPic  
                    a(href="https://www.instagram.com/oh.ya.club/")
                        img(src="../../assets/aboutUsIg.png", alt)
                    a(href="https://www.facebook.com/OHYACLUB/")
                        img(src="../../assets/aboutUsfb.jpg", alt)