extends ../layout/layout.pug

block view    
    .companyNavWrap
        //<!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/about_hotStory.html") 關於ＯＨ.YA.CLUBE
                li.breadcrumb-item.active(aria-current="page") 最新消息
        //<!------------------------- 這是左邊導覽列！當前頁面時＋上class名稱.companyNavActive-------------------------
        .service-Wrap
            .col-md-3.webNav
                h3.companyNavTitle 關於OH.YA.CLUBE
                ul.companyNav
                    li
                        a.companyNavItem.companyNavActive(href="../pages/about_hotStory.html") 最新消息
                    li
                        a.companyNavItem(href="../pages/about_aboutUs.html") 關於我們
                    li
                        a.companyNavItem(href="../pages/about_contactUs.html") 聯絡我們
            //<!------------------------- 這是右邊內容！-------------------------
            .col-md-9.companyContentWrap
                .hotStoryWrap
                    .hotStoryPic
                        img(src="../../assets/ad2.jpg", alt)
                    .hotStoryTxt
                        p.hotStorydate 2021-07-28
                        p.hotStoryTitle 8/1~8/3 立馬加入會員，享免運30天優惠券！
                        ul.companyContent
                            li 為了提供顧客更好的消費體驗，OH.YA.CLUB官網上線囉！ 快加入會員享免運30天優惠券！
                        ul.companyContent
                            li 活動資格：限8/1~8/3新註冊會員。
                            li 活動辦法：• 8/1~8/3新註冊會員可享有免運券，每個帳號僅能領取優惠券1次。
                            li • 三天內於活動期間成功註冊會員，即享30天不限次數的免運優惠，30天以申辦成功會員當下開始計算。
                        ul.companyContent   
                            li 注意事項：
                            li  • OH.YA.CLUB保留審核成功資格之權利，經認定為重覆Email、重覆手機號碼，或是無效Email等假帳號情形，將取消活動資格。
                            li • OH.YA.CLUB 保有更動活動內容或細節之權利。
                .pageBtnArea
                    button.btn.greyBtn#backPage 上一頁
                    button.btn.greyBtn 回總覽
                    button.btn.greyBtn#nextPage 下一頁                     
            //<!------------------------- 這是頁面點選！-------------------------
        
    script.
        // 回到上一頁
        let backPage = document.getElementById('backPage');
        backPage.addEventListener('click',()=>{
            history.back();
        });
        // 去到下一頁
        let nextPage = document.getElementById('nextPage');
        backPage.addEventListener('click',()=>{
            window.history.forward();
        });
        

                
            