extends ../layout/layout.pug

block view    
    .companyNavWrap
        //<!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/about_hotStory.html") 關於ＯＨ.YA.CLUBE
                li.breadcrumb-item.active(aria-current="page") 關於我們
        //<!------------------------- 這是左邊導覽列！當前頁面時＋上class名稱.companyNavActive-------------------------
        .service-Wrap
            .col-md-3.webNav
                h3.companyNavTitle 關於OH.YA.CLUBE
                ul.companyNav
                    li
                        a.companyNavItem(href="../pages/about_hotStory.html") 最新消息
                    li
                        a.companyNavItem.companyNavActive(href="../pages/about_aboutUs.html") 關於我們
                    li
                        a.companyNavItem(href="../pages/about_contactUs.html") 聯絡我們
            //<!------------------------- 這是右邊內容！-------------------------
            .col-md-9.companyContentWrap
                .aboutUsPic
                    img(src="../../assets/aboutUs.png", alt)
                .aboutUsTxt
                    p.aboutUsTitle GREAT THINGS TAKE TIME
                    pre.
                        這幾年來，自己個人偏好低調，總覺得料理好吃就好，廚師不一定要出來亮相。
                        但現在我真的要很認真的介紹自己一下
                        2018年，從美國回來
                        美國，如同籃球的麥加聖地，在這了解到這裡的籃球文化、籃球用品、籃球行銷，
                        在美國這不只是一種文化，而是一種生活方式。
                        回台灣後，一直在想把這些美式文化，轉變成能讓大家接受，
                        不要只有買賣，要讓你知道背後的故事、文化、趣味。讓你拿到商品時，是充滿期待的。
                        除了籃球，同樣熱衷玩具、古物、老品、老車、美食，看到這些就跟小孩子一樣興奮。
                        記得，有個阿伯跟我說：「不論年紀，每個人都會記得，有種感覺叫作喜歡，而真正的喜歡，是無法解釋的。」
                        四年了
                        這四年來，有被討厭的時候
                        這四年來，也有做了愚蠢的決定
                        這四年來，真的吃了很多苦
                        但，不要因為害怕，而不敢嘗試，
                        這是你喜歡的事，丟臉又怎樣？拍拍屁股再站起來就好，沒事的！
                        這幾年過去了
                        大家開始接受我所表達的美式文化，會去注意我在文章中所發出的想法，開始接受不同於以往的東西。
                        這讓我開始覺得，似乎是做對了什麼！！！
                        國小時，下課後寧可騎30分鐘的腳踏車，就為了看心愛的球鞋、球衣一眼。
                        打籃球不是為了晴子，而是為了穿上這些「酷裝備」的那個孩子。
                        到今天這孩子成立了幾萬人的社團，來看他賣這些酷準備。
                        永遠都不要覺得自己做不到
                        有夢想就快去實現，這應該才是學校要教的
                        讓喜歡的事，帶你去更遠的地方。
                        