extends ../layout/layout.pug

block view 
    .cartContentWrap
        //<!------------------------- 這是麵包屑-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="#") 首頁
                li.breadcrumb-item.active(aria-current="page") 我的購物車
        //<!------------------------- 這是進度條不用理他唷！-------------------------
        .progressWrap
            ol.process
                li.processActive.coffeeLine
                    span 1
                    p 購物車明細
                li.processActive
                    span 2
                    p 填寫寄送資料
                li
                    span 3
                    p 訂單完成
        .col-10.cartListCollapse(data-bs-toggle="collapse", href="#cartList", role="button", aria-expanded="false", aria-controls="collapseExample")
            | 總計 NT$ 1,945 &emsp; 
            span.cartListCount <br>購物車(2件) &emsp;
            i.bi.bi-chevron-double-down
        .shoppingList#cartList
            //<!------------------------- 這是購物車標題不用理他唷！-------------------------
            p.carDetailTitle 購物車清單
            ul.shoppingListTitleUl
                li.shoppingListTitle
                    span.col-12.phoneShoppingListTitle 商品資訊
                    .col-md-2.webShoppingTitle
                    .col-md-9.webShoppingTitle
                        .col-md-3.webShoppingList 商品
                        .col-md-2.webShoppingList 規格
                        .col-md-2.webShoppingList 單價
                        .col-md-2.webShoppingList 數量
                        .col-md-2.webShoppingList 總計
            //<!------------------------- 這是宣染內容！-------------------------
            ul.shoppingListItemUl
                li.shoppingListItem(v-for="(item,index) in listData")
                    .col-md-2.webShoppingList
                        a(href="../pages/productdetail.html")
                            img.shoppingListPic(src="../../assets/product/product11.jpg")
                    .col-md-9.webShoppingList
                        .col-md-3.col-12.webShoppingList
                            a.cartPrdName(href="../pages/productdetail.html") 
                                p.brandTit adidas</br>
                                p 克里夫蘭感恩紀念T
                        .col-md-2.col-12.webShoppingList M-黑色
                        .col-md-2.col-12.webShoppingList NT$980
                        .col-md-2.col-12.webShoppingList 2
                        .col-md-2.webShoppingList.phoneDispayNone NT$980
        //<!------------------------- 這是from表單！-------------------------            
        .detailWrap.mt-3
            .col-lg-6.col-12.userInfo
                p.carDetailTitle 顧客資料
                ul.userInfoUl
                    li.col-lg-10.col-12
                        label(for="userName") 顧客姓名
                        input.form-control#userName(type="text")
                    li.col-lg-10.col-12
                        label(for="email") 電子信箱
                        input.form-control#email(type="text")
                    li.col-lg-10.col-12
                        label(for="tel") 電話號碼
                        input.form-control#tel(type="text")
                    li.col-lg-10.col-12.border-bottom
                        input.form-check-input#stockpile.mb-5(type="checkbox")
                        label(for="stockpile") 儲存至會員資料
                    li.col-lg-10.col-12.carDetailTitle.webDisplayNone.mt-5
                        label(for="memoField")
                        | 訂單備註
                        textarea.form-control.mt-3#memoField(style="height:130px")
                .col-lg-10.col-12.pt-1.webDisplayNone
                    a(href="../pages/cart_detail.html")
                        i.bi.bi-chevron-double-left
                        | 返回購物車

            .col-lg-6.col-12.userInfo
                p.carDetailTitle 送貨資料
                .col-lg-10.col-12.ifPhonefontSize.
                    已選擇的送貨方式：7-11 取貨不付款 (C2C)
                ul.userInfoUl 
                    li.col-lg-10.col-12.pt-3
                        label(for="pickUpcheck")
                        input.form-check-input#pickUpcheck(type="checkbox")
                        |  &ensp;收件人資料與顧客資料相同
                    li.col-lg-10.col-12
                        label(for="pickUpName")
                        | 收件人名稱
                        input.form-control#pickUpName(type="text")
                        span.smallNote 請填入收件人真實姓名，以確保順利收件
                    li.col-lg-10.col-12
                        label(for="pickUpTel")
                        | 電話號碼
                        input.form-control#pickUpTel(type="text")
                .col-lg-10.col-12.pickUpArea.border-bottom
                    img.pickUpAreaIcon.col-2(src="../../assets/icon/711@2x.png", alt)
                    p.col-4.mt-4 選擇門市
                    button.btn.greyBtn.col-6 搜尋門市
                .payingArea
                    p.carDetailTitle.pt-3 付款資訊
                    p.ifPhonefontSize 已選擇的付款方式：信用卡付款
                // 在網頁上不顯示,只在手機版;
                label.col-lg-10.col-12.pt-3.carDetailTitle.PhoneDisplayNone.border-top(for="phoneMemoField")
                    | 訂單備註
                    textarea.form-control.mt-3#phoneMemoField(style="height:100px")
                
                .col-lg-10.col-12
                    a.btn.cartSubmitBtn(href="../pages/cart_onOrder.html") 提交訂單
                // 在網頁上不顯示,只在手機版;
                .col-lg-10.col-12.pt-5.text-center.PhoneDisplayNone.pb-5
                    a(href="../pages/cart_detail.html")
                        i.bi.bi-chevron-double-left
                        | 返回購物車
