extends ../layout/layout.pug

block view
    .cartContentWrap
        //<!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="#") 首頁
                li.breadcrumb-item.active(aria-current="page") 我的購物車
        //<!------------------------- 這是進度條不用理他唷！-------------------------
        .progressWrap
            ol.process
                li.processActive.coffeeLine
                    span 1
                    p 購物車明細
                li.processActive.coffeeLine
                    span 2
                    p 填寫寄送資料
                li.processActive
                    span 3
                    p 訂單完成
        //<!------------------------- 這是點選時顯示下拉列表！-------------------------
        .col-10.cartListCollapse(data-bs-toggle="collapse", href="#cartList", role="button", aria-expanded="false", aria-controls="collapseExample")
            | 總計 NT$ 1,945 &emsp; 
            span.cartListCount <br>購物車(2件) &emsp;
            i.bi.bi-chevron-double-down
        //<!------------------------- 這是購物車標題不用理他唷！-------------------------
        .shoppingList#cartList
            p.carDetailTitle 購物車清單
            ul.shoppingListTitleUl
                li.shoppingListTitle
                    span.col-12.phoneShoppingListTitle 商品資訊
                    .col-md-2.webShoppingTitle
                    .col-md-9.webShoppingTitle
                        .col-md-3.webShoppingList 商品
                        .col-md-2.webShoppingList 規格
                        .col-md-2.webShoppingList 單價
                        .col-md-2.webShoppingList 數量
                        .col-md-2.webShoppingList 總計
            //<!------------------------- 這是宣染產品列表！-------------------------
            ul.shoppingListItemUl
                li.shoppingListItem
                    .col-md-2.webShoppingList
                        a(href="../pages/productdetail.html")
                            img.shoppingListPic(src="../../assets/product/product11.jpg")
                    .col-md-9.webShoppingList
                        .col-md-3.col-12.webShoppingList
                            a.cartPrdName(href="../pages/productdetail.html") 
                                p.brandTit adidas</br>
                                p 克里夫蘭感恩紀念T
                        .col-md-2.col-12.webShoppingList M-黑色
                        .col-md-2.col-12.webShoppingList NT$980
                        .col-md-2.col-12.webShoppingList 2
                        .col-md-2.webShoppingList.phoneDispayNone NT$980
        //<!------------------------- 這是宣染客戶資料！-------------------------           
        .detailWrap.mt-3
            .col-12.setUpThx.border-bottom
                img(src="../../assets/icon/ordersetUpIcon_03.jpg", alt)
                span
                    p.boldFace 謝謝您! 您的訂單已成立!
                    p 訂單編號 OY104068483
                    p 訂單確認電郵已經發送到您的電子郵箱
                    p Ammy****@gmail.com
            .col-10.orderDetailWrap.pt-5
                .col-12.col-lg-5.orderDetailItem
                    .orderDetailTitle 訂單資訊
                    table.orderDetailcontent
                        tr 
                            td.pe-4.orderDetailcontentItem 訂單日期
                            td.orderDetailcontentItem 2021/03/28 18:09pm
                        tr
                            td.pe-4.orderDetailcontentItem 訂單狀態
                            td.orderDetailcontentItem 訂單處理中
                .col-12.col-lg-5.orderDetailItem
                    .orderDetailTitle 顧客資訊
                    table.orderDetailcontent
                        tr
                            td.pe-4.orderDetailcontentItem 顧客名稱
                            td.orderDetailcontentItem 王小明
                        tr
                            td.pe-4.orderDetailcontentItem 電話號碼
                            td.orderDetailcontentItem +886 0912555601       
                .col-12.col-lg-5.orderDetailItem
                    .orderDetailTitle 付款資訊
                    table.orderDetailcontent
                        tr
                            td.pe-4.orderDetailcontentItem 訂購總額
                            td.orderDetailcontentItem NT$1,945 
                        tr 
                            td.pe-4 
                            td.orderDetailcontentItem (已折抵:點數 -NT$15 ）
                        tr
                            td.pe-4.orderDetailcontentItem 付款方式
                            td.orderDetailcontentItem 信用卡
                        tr
                            td.pe-4.orderDetailcontentItem 付款狀態
                            td.orderDetailcontentItem 已付款    
                .col-12.col-lg-5.orderDetailItem
                    .orderDetailTitle 配送資訊
                    table.orderDetailcontent 
                        tr
                            td.pe-4.orderDetailcontentItem 配送方式
                            td.orderDetailcontentItem 7-11取貨不付款
                        tr
                            td.pe-4.orderDetailcontentItem 收件人
                            td.orderDetailcontentItem 王小明
                        tr
                            td.pe-4.orderDetailcontentItem  配送地址
                            td.orderDetailcontentItem 7-11 (155050)青河門市
                        tr
                            td 
                            td.orderDetailcontentItem 台中市北屯區青島路三段155號
                        tr 
                            td.orderDetailcontentItem.pe-4 聯絡電話
                            td.orderDetailcontentItem +886 0912555601
                //<!------------------------- 這是頁面點選！-------------------------
                .btnArea.pb-5
                    a.btn.cartBtn(href="../pages/member_order.html") 查看訂單
                    a.btn.cartBtn(href="../pages/product.html") 繼續購物
