extends ../layout/layout.pug

block view
    //<!------------------------- 這是網頁上大輪播！-------------------------
    .webBanner
       .swiper-container.index-banner-swiper
            .swiper-wrapper.index-banner-swiper-wrapper
                .swiper-slide.index-banner-swiper-slide
                    img(src="../../assets/indexBanner.png", alt)
                .swiper-slide.index-banner-swiper-slide
                    img(src="../../assets/indexBanner2.png", alt)
            .index-banner-swiper-dot
            .swiper-pagination
    //<!------------------------- 這是手機上大輪播！-------------------------
    .phoneBanner
       .swiper-container.phoneProductImg-swiper
            .swiper-wrapper.index-banner-swiper-wrapper
                .swiper-slide.index-banner-swiper-slide
                    img(src="../../assets/phonebanner.png", alt)
                .swiper-slide.index-banner-swiper-slide
                    img(src="../../assets/phonebaner2.png", alt)
            .index-banner-swiper-dot
            .swiper-pagination    
    //<!------------------------- 這是熱賣商品小輪播！-------------------------
    .contentItem
        .hotProduct
            h2.indexTitle 熱賣商品
            .swiper-container.sixPcs-swiper
                .swiper-button-prev.myposition 
                .swiper-button-next.myposition 
                .swiper-wrapper
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/product1.jpg", alt)
                        a(href="../pages/productdetail.html")
                            .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999  
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/product2.jpg", alt)
                        a(href="../pages/productdetail.html")
                            .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999  
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/product3.jpg", alt)
                        a(href="../pages/productdetail.html")
                            .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999  
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/popular4.jpg", alt)
                        a(href="../pages/productdetail.html")
                            .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/popular5.jpg", alt)
                        a(href="../pages/productdetail.html")
                            .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/product6.jpg", alt)
                        a(href="../pages/productdetail.html")
                            .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/product7.jpg", alt)
                        a(href="../pages/productdetail.html")
                               .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999        
            //<!------------------------- 這是廣告消息！-------------------------
        .advertise
            .advertiseItem
                a(href="../pages/about_hotStory_detail.html")
                    img.adpic(src="../../assets/ad1.jpg", alt)
            .advertiseItem   
                a(href="../pages/about_hotStory_detail.html")
                    img.adpic(src="../../assets/ad2.jpg", alt)
        //<!------------------------- 這是新品上市！-------------------------
        .newProduct
            h2.indexTitle 新品上市
            .newProductItem
                a(href="../pages/productdetail.html")
                    img.newProductPic(src="../../assets/product/new1.jpg", alt)
                    p.productTit.fs16.pt-3.fwMedium Patagonia
                    p.productTit.fs16 輕量化刷毛長袖
                    p.productPrice.m-0 NT$ 640
                    p.productPriceDiscount.DiscountLineArea NT$ 999
            .newProductItem
                a(href="../pages/productdetail.html")
                    img.newProductPic(src="../../assets/product/new2.jpg", alt)
                    p.productTit.fs16.pt-3.fwMedium Nike
                    p.productTit.fs16 克里夫蘭 感恩 紀念T
                    p.productPrice.m-0 NT$ 640
                    p.productPriceDiscount.DiscountLineArea NT$ 999
            .newProductItem
                a(href="../pages/productdetail.html")
                    img.newProductPic(src="../../assets/product/new3.jpg", alt)
                    p.productTit.fs16.pt-3.fwMedium Adidas
                    p.productTit.fs16 三線修身窄版褲
                    p.productPrice.m-0 NT$ 640
                    p.productPriceDiscount.DiscountLineArea NT$ 999
            .newProductItem
                a(href="../pages/productdetail.html")
                    img.newProductPic(src="../../assets/product/new4.jpg", alt)
                    p.productTit.fs16.pt-3.fwMedium Nike x NCAA
                    p.productTit.fs16 美版商品
                    p.productPrice.m-0 NT$ 640
                    p.productPriceDiscount.DiscountLineArea NT$ 999
            .moveBtn
                 a(href="../pages/product.html").btn.myBtn 看更多
    //<!------------------------- 這是indexFooter！-------------------------
    .col-12.bottomAD
        img(src="../../assets/bottom.jpg", alt)
    
