extends ../layout/layout.pug

block view 
    .memberAreaContent
        // <!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/service_memberRule.html") 會員專區
                li.breadcrumb-item.active(aria-current="page") 會員點數
        //<!------------------------- 這是上方導覽列不用理他唷！當前頁面時＋上class名稱.memberBtnActive-------------------------
        .col-lg-10.col-12.memberSwitchBtn
            .memberBtn
                a(href="../pages/member_info.html") 個人資訊
            .memberBtn
                a(href="../pages/member_points.html") 會員點數
            .memberBtn
                a(href="../pages/member_voucher.html") 優惠券
            .memberBtn.memberBtnActive
                a(href="../pages/member_order.html") 我的訂單
            .memberBtn
                a(href="../pages/member_likelist.html") 喜愛清單
        .member-areaWrap
            //<!------------------------- 這是購物車標題不用理他唷！-------------------------
            .col-lg-12.orderWrap
                .col-lg-12.col-12.pb-3
                    p.carDetailTitle 我的訂單
                .col-12.orderDetailwebDisplay
                    ul.col-lg-12.webDisplay
                        li.col-lg-3 購買日期    
                        li.col-lg-2 訂單編號
                        li.col-lg-2 處理狀態  
                        li.col-lg-3 付款方式
                        li.col-lg-2 金額
                //  宣染內容從這裡開始唷(這邊的標題也要迴圈＾Ｖ＾)！！
                .col-12.orderDetail
                    ul.col-lg-12.col-3.orderTitle
                        li.col-lg-3 購買日期    
                        li.col-lg-2 訂單編號
                        li.col-lg-2 處理狀態  
                        li.col-lg-3 付款方式
                        li.col-lg-2 金額
                    ul.col-lg-12.col-9.orderDetailContent
                        li.col-lg-3 2021/08/03 14:25pm
                        li.col-lg-2 
                            a(href="../pages/member_order_detail.html")
                                span.orderColor OY204928490
                        li.col-lg-2 處理中
                        li.col-lg-3 貨到付款-未付款
                        li.col-lg-2 2,500
                .col-12.orderDetail
                    ul.col-lg-12.col-3.orderTitle
                        li.col-lg-3 購買日期    
                        li.col-lg-2 訂單編號
                        li.col-lg-2 處理狀態  
                        li.col-lg-3 付款方式
                        li.col-lg-2 金額
                    ul.col-lg-12.col-9.orderDetailContent 
                        li.col-lg-3 2021/08/03 14:25pm
                        li.col-lg-2 
                            a(href="../pages/member_order_detail.html")
                                span.orderColor OY204928490
                        li.col-lg-2 處理中
                        li.col-lg-3 信用卡-已付款
                        li.col-lg-2 1,600
                // end
                .col-12.orderillustrate
                    p 點選訂單編號，可查詢商品詳細資料。
                //<!------------------------- 這是頁面點選！-------------------------        
            .clickPageWrap.col-12.pe-4
                nav.clickPage(aria-label="Page navigation example")
                    ul.pagination
                        li.page-item
                            a.page-link(href="#", aria-label="Previous")
                                span(aria-hidden="true") «
                        li.page-item
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href="#") 2
                        li.page-item
                            a.page-link(href="#") 3
                        li.page-item
                            a.page-link(href="#", aria-label="Next")
                                span(aria-hidden="true") »    
                    