extends ../layout/layout.pug
block view
    .memberAreaContent
        // <!------------------------- 這是麵包屑！------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/service_memberRule.html") 會員專區
                li.breadcrumb-item.active(aria-current="page") 會員點數
        //<!------------------------- 這是上方導覽列不用理他唷！------------------------
        .col-lg-10.col-12.memberSwitchBtn
            .memberBtn.memberBtnActive
                a(href="../pages/member_info.html") 個人資訊
            .memberBtn
                a(href="../pages/member_points.html") 會員點數
            .memberBtn
                a(href="../pages/member_voucher.html") 優惠券
            .memberBtn
                a(href="../pages/member_order.html") 我的訂單
            .memberBtn
                a(href="../pages/member_likelist.html") 喜愛清單 
        //<!------------------------- 這是客戶資料！------------------------
        .member-areaWrap
            .col-lg-5.col-12.leftInfo
                .userNameBox
                    span.userPic
                        img(src="../../assets/icon/usericon.png", alt)
                    p.userName 王小明
                    span.gradeTab 一般會員
                .memberUp
                    p 升級至金牌會員: 半年內累計滿 NT$8,800 元即可升級
                    a(href="../pages/service_memberRule.html") 查看會員制度說明
            .col-lg-5.col-12.gradePriceWrap
                p 半年內累積消費額
                span.gradePrice
                    p NT$3,800
                    p 差 NT$5,000 升級
                .progress
                    .progress-bar(role="progressbar", style="width: 25%;", aria-valuenow="25", aria-valuemin="0", aria-valuemax="100") 25%
                p.gradePriceIllustrate 自動更新時間為訂單完成付款後的隔日凌晨，若因取消訂單或退貨未達 成升級條件則不會升級。    
            //<!------------------------- 這是from表單！------------------------
            form.col-12.myfrom
                .col-lg-5.col-12.infoForm
                    p.carDetailTitle 會員資料
                    span.infoFormItem
                        span.col-3
                            label(for="fullname") 姓名
                                span.necessary *
                        span.col-9
                            input.form-control#fullname(type="text")
                    span.infoFormItem
                        span.col-3
                            label(for="sex") 性別
                                span.necessary *
                        span.col-9
                            label.me-5(for="male")
                                input.form-check-input#male(type="radio", name="sex")
                                |  先生
                            label(for="female")
                                input.form-check-input#female(type="radio", name="sex")
                                |  小姐
                    span.infoFormItem
                        span.col-3
                            label(for="time") 生日
                        span.col-9
                            input.form-control#time(type="text")
                    span.infoFormItem
                        span.col-3
                            label(for="phone") 行動電話
                                span.necessary *
                        span.col-9
                            input.form-control#phone(type="text")
                    span.infoFormItem
                        span.col-3
                            label(for="tel") 室內電話
                        span.col-9
                            input.form-control#tel(type="text")
                    span.infoFormItem
                        span.col-3
                            label(for="email") Email
                                span.necessary *
                        span.col-9
                            input.form-control#email(type="text")
                    span.infoFormItem
                        span.col-3
                            label(for="password") 密碼
                        span.col-6
                            input.form-control#password(type="password")
                        a.col-3(href="../pages/member_changepassword.html") &ensp;更改密碼
                    span.infoFormItem
                        span.col-3
                            label(for="FBaccount") 帳號綁定
                        span.col-9
                            a(href="https://www.facebook.com/OHYACLUB/")
                                img.infoFormItemfbIcon(src="../../assets/icon/memberfbIcon.png", alt)
                .col-lg-5.col-12.infoForm
                    p.carDetailTitle 我的通訊錄
                    span.infoFormItem
                        span.col-3
                            label(for="shipper") 收件人
                                span.necessary *
                        span.col-9
                            input.form-control#shipper(type="text")
                    span.infoFormItem
                        span.col-3
                            label(for="shipperSex") 性別
                                span.necessary *
                        span.col-9
                            label.me-5(for="shipperSexmale")
                                input.form-check-input#shipperSexmale(type="radio", name="shipperSex")
                                |  先生
                            label(for="shipperSexfemale")
                                input.form-check-input#shipperSexfemale(type="radio", name="shipperSex")
                                |  小姐
                    span.infoFormItem
                        span.col-3
                            label(for="shipperTel") 行動電話
                                span.necessary *
                        span.col-9
                            input.form-control#shipperTel(type="text")
                    span.infoFormItem
                        span.col-3
                            label(for="shipperAdd") 收件地址
                        span.col-9.opgroup
                            //- div.city-selector(role="tw-city-selector", data-bootstrap-style)
                            .citySelector
                                #opgroup
                                    select.select-country.form-select
                                        option 台灣本島
                                    select.select-city.form-select
                                        option 城市/縣
                                    select.select-area.form-select
                                        option 地區
                                    div.hidden
                                        | 初始
                                        input#text(type='text', value='')
                                input.form-control.mt-2#shipperAdd(type="text")
                            
                    span.infoFormItem
                        span.col-12
                            a.addaddress#addaddress(href="#") +新增收件地址
                .col-lg-12.col-12.storeBtnArea
                    a.btn.storeBtn#storeBtn(href="#") 儲存變更
        
    
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/tw-city-selector@2.1.0/dist/tw-city-selector.min.js")
    script.
        //select台灣地區鄉鎮
            $(function () {
            new TwCitySelector()
            })
        //click btn alert
            document.getElementById("storeBtn").addEventListener("click",function(){
             swal("你已更新資料", "updated your info thank!!", "success");
            });
        //按下時新增元素
            document.getElementById("addaddress").addEventListener("click",function(e){
             e.preventDefault();
             $('.opgroup').append($('.citySelector').html())
            });

            const land = {
                el: '#opgroup',
                df: '',
                twcode: [{
                    "area": [
                    "100 中正區",
                    "103 大同區",
                    "104 中山區",
                    "105 松山區",
                    "106 大安區",
                    "108 萬華區",
                    "110 信義區",
                    "111 士林區",
                    "112 北投區",
                    "114 內湖區",
                    "115 南港區",
                    "116 文山區"
                    ],
                    "city": "臺北市"
                },
                {
                    "area": [
                    "200 仁愛區",
                    "201 信義區",
                    "202 中正區",
                    "203 中山區",
                    "204 安樂區",
                    "205 暖暖區",
                    "206 七堵區"
                    ],
                    "city": "基隆市"
                },
                {
                    "area": [
                    "207 萬里區",
                    "208 金山區",
                    "220 板橋區",
                    "221 汐止區",
                    "222 深坑區",
                    "223 石碇區",
                    "224 瑞芳區",
                    "226 平溪區",
                    "227 雙溪區",
                    "228 貢寮區",
                    "231 新店區",
                    "232 坪林區",
                    "233 烏來區",
                    "234 永和區",
                    "235 中和區",
                    "236 土城區",
                    "237 三峽區",
                    "238 樹林區",
                    "239 鶯歌區",
                    "241 三重區",
                    "242 新莊區",
                    "243 泰山區",
                    "244 林口區",
                    "247 蘆洲區",
                    "248 五股區",
                    "248 新莊區",
                    "249 八里區",
                    "251 淡水區",
                    "252 三芝區",
                    "253 石門區"
                    ],
                    "city": "新北市"
                },
                {
                    "area": [
                    "209 南竿鄉",
                    "210 北竿鄉",
                    "211 莒光鄉",
                    "212 東引鄉"
                    ],
                    "city": "連江縣"
                },
                {
                    "area": [
                    "260 宜蘭市",
                    "260 壯圍鄉",
                    "261 頭城鎮",
                    "262 礁溪鄉",
                    "263 壯圍鄉",
                    "264 員山鄉",
                    "265 羅東鎮",
                    "266 三星鄉",
                    "267 大同鄉",
                    "268 五結鄉",
                    "269 冬山鄉",
                    "270 蘇澳鎮",
                    "272 南澳鄉",
                    "290 釣魚臺"
                    ],
                    "city": "宜蘭縣"
                },
                {
                    "area": [
                    "290 釣魚臺"
                    ],
                    "city": "釣魚臺"
                },
                {
                    "area": [
                    "300 東區",
                    "300 北區",
                    "300 香山區"
                    ],
                    "city": "新竹市"
                },
                {
                    "area": [
                    "300 寶山鄉",
                    "302 竹北市",
                    "303 湖口鄉",
                    "304 新豐鄉",
                    "305 新埔鎮",
                    "306 關西鎮",
                    "307 芎林鄉",
                    "308 寶山鄉",
                    "310 竹東鎮",
                    "311 五峰鄉",
                    "312 橫山鄉",
                    "313 尖石鄉",
                    "314 北埔鄉",
                    "315 峨眉鄉"
                    ],
                    "city": "新竹縣"
                },
                {
                    "area": [
                    "320 中壢區",
                    "324 平鎮區",
                    "325 龍潭區",
                    "326 楊梅區",
                    "327 新屋區",
                    "328 觀音區",
                    "330 桃園區",
                    "333 龜山區",
                    "334 八德區",
                    "335 大溪區",
                    "336 復興區",
                    "337 大園區",
                    "338 蘆竹區"
                    ],
                    "city": "桃園市"
                },
                {
                    "area": [
                    "350 竹南鎮",
                    "351 頭份市",
                    "352 三灣鄉",
                    "353 南庄鄉",
                    "354 獅潭鄉",
                    "356 後龍鎮",
                    "357 通霄鎮",
                    "358 苑裡鎮",
                    "360 苗栗市",
                    "361 造橋鄉",
                    "362 頭屋鄉",
                    "363 公館鄉",
                    "364 大湖鄉",
                    "365 泰安鄉",
                    "366 銅鑼鄉",
                    "367 三義鄉",
                    "368 西湖鄉",
                    "369 卓蘭鎮"
                    ],
                    "city": "苗栗縣"
                },
                {
                    "area": [
                    "400 中區",
                    "401 東區",
                    "402 南區",
                    "403 西區",
                    "404 北區",
                    "406 北屯區",
                    "407 西屯區",
                    "408 南屯區",
                    "411 太平區",
                    "412 大里區",
                    "413 霧峰區",
                    "414 烏日區",
                    "420 豐原區",
                    "421 后里區",
                    "422 石岡區",
                    "423 東勢區",
                    "424 和平區",
                    "426 新社區",
                    "427 潭子區",
                    "428 大雅區",
                    "429 神岡區",
                    "432 大肚區",
                    "433 沙鹿區",
                    "434 龍井區",
                    "435 梧棲區",
                    "436 清水區",
                    "437 大甲區",
                    "438 外埔區",
                    "439 大安區"
                    ],
                    "city": "臺中市"
                },
                {
                    "area": [
                    "500 彰化市",
                    "502 芬園鄉",
                    "503 花壇鄉",
                    "504 秀水鄉",
                    "505 鹿港鎮",
                    "506 福興鄉",
                    "507 線西鄉",
                    "508 和美鎮",
                    "509 伸港鄉",
                    "510 員林市",
                    "511 社頭鄉",
                    "512 永靖鄉",
                    "513 埔心鄉",
                    "514 溪湖鎮",
                    "515 大村鄉",
                    "516 埔鹽鄉",
                    "520 田中鎮",
                    "521 北斗鎮",
                    "522 田尾鄉",
                    "523 埤頭鄉",
                    "524 溪州鄉",
                    "525 竹塘鄉",
                    "526 二林鎮",
                    "527 大城鄉",
                    "528 芳苑鄉",
                    "530 二水鄉"
                    ],
                    "city": "彰化縣"
                },
                {
                    "area": [
                    "540 南投市",
                    "541 中寮鄉",
                    "542 草屯鎮",
                    "544 國姓鄉",
                    "545 埔里鎮",
                    "546 仁愛鄉",
                    "551 名間鄉",
                    "552 集集鎮",
                    "553 水里鄉",
                    "555 魚池鄉",
                    "556 信義鄉",
                    "557 竹山鎮",
                    "558 鹿谷鄉"
                    ],
                    "city": "南投縣"
                },
                {
                    "area": [
                    "600 西區",
                    "600 東區"
                    ],
                    "city": "嘉義市"
                },
                {
                    "area": [
                    "602 番路鄉",
                    "603 梅山鄉",
                    "604 竹崎鄉",
                    "605 阿里山鄉",
                    "606 中埔鄉",
                    "607 大埔鄉",
                    "608 水上鄉",
                    "611 鹿草鄉",
                    "612 太保市",
                    "613 朴子市",
                    "614 東石鄉",
                    "615 六腳鄉",
                    "616 新港鄉",
                    "621 民雄鄉",
                    "622 大林鎮",
                    "623 溪口鄉",
                    "624 義竹鄉",
                    "625 布袋鎮"
                    ],
                    "city": "嘉義縣"
                },
                {
                    "area": [
                    "630 斗南鎮",
                    "631 大埤鄉",
                    "632 虎尾鎮",
                    "633 土庫鎮",
                    "634 褒忠鄉",
                    "635 東勢鄉",
                    "636 臺西鄉",
                    "637 崙背鄉",
                    "638 麥寮鄉",
                    "640 斗六市",
                    "643 林內鄉",
                    "646 古坑鄉",
                    "647 莿桐鄉",
                    "648 西螺鎮",
                    "649 二崙鄉",
                    "651 北港鎮",
                    "652 水林鄉",
                    "653 口湖鄉",
                    "654 四湖鄉",
                    "655 元長鄉"
                    ],
                    "city": "雲林縣"
                },
                {
                    "area": [
                    "700 中西區",
                    "701 東區",
                    "702 南區",
                    "704 北區",
                    "708 安平區",
                    "709 安南區",
                    "710 永康區",
                    "711 歸仁區",
                    "712 新化區",
                    "713 左鎮區",
                    "714 玉井區",
                    "715 楠西區",
                    "716 南化區",
                    "717 仁德區",
                    "718 關廟區",
                    "719 龍崎區",
                    "720 官田區",
                    "721 麻豆區",
                    "722 佳里區",
                    "723 西港區",
                    "724 七股區",
                    "725 將軍區",
                    "726 學甲區",
                    "727 北門區",
                    "730 新營區",
                    "731 後壁區",
                    "732 白河區",
                    "733 東山區",
                    "734 六甲區",
                    "735 下營區",
                    "736 柳營區",
                    "737 鹽水區",
                    "741 善化區",
                    "741 新市區",
                    "742 大內區",
                    "743 山上區",
                    "744 新市區",
                    "745 安定區"
                    ],
                    "city": "臺南市"
                },
                {
                    "area": [
                    "800 新興區",
                    "801 前金區",
                    "802 苓雅區",
                    "803 鹽埕區",
                    "804 鼓山區",
                    "805 旗津區",
                    "806 前鎮區",
                    "807 三民區",
                    "811 楠梓區",
                    "812 小港區",
                    "813 左營區",
                    "814 仁武區",
                    "815 大社區",
                    "817 東沙群島",
                    "819 南沙群島",
                    "820 岡山區",
                    "821 路竹區",
                    "822 阿蓮區",
                    "823 田寮區",
                    "824 燕巢區",
                    "825 橋頭區",
                    "826 梓官區",
                    "827 彌陀區",
                    "828 永安區",
                    "829 湖內區",
                    "830 鳳山區",
                    "831 大寮區",
                    "832 林園區",
                    "833 鳥松區",
                    "840 大樹區",
                    "842 旗山區",
                    "843 美濃區",
                    "844 六龜區",
                    "845 內門區",
                    "846 杉林區",
                    "847 甲仙區",
                    "848 桃源區",
                    "849 那瑪夏區",
                    "851 茂林區",
                    "852 茄萣區"
                    ],
                    "city": "高雄市"
                },
                {
                    "area": [
                    "817 東沙群島",
                    "819 南沙群島"
                    ],
                    "city": "南海島"
                },
                {
                    "area": [
                    "880 馬公市",
                    "881 西嶼鄉",
                    "882 望安鄉",
                    "883 七美鄉",
                    "884 白沙鄉",
                    "885 湖西鄉"
                    ],
                    "city": "澎湖縣"
                },
                {
                    "area": [
                    "890 金沙鎮",
                    "891 金湖鎮",
                    "892 金寧鄉",
                    "893 金城鎮",
                    "894 烈嶼鄉",
                    "896 烏坵鄉"
                    ],
                    "city": "金門縣"
                },
                {
                    "area": [
                    "900 屏東市",
                    "901 三地門鄉",
                    "902 霧臺鄉",
                    "903 瑪家鄉",
                    "904 九如鄉",
                    "905 里港鄉",
                    "906 高樹鄉",
                    "907 鹽埔鄉",
                    "908 長治鄉",
                    "909 麟洛鄉",
                    "911 竹田鄉",
                    "912 內埔鄉",
                    "913 萬丹鄉",
                    "920 潮州鎮",
                    "921 泰武鄉",
                    "922 來義鄉",
                    "923 萬巒鄉",
                    "924 崁頂鄉",
                    "925 新埤鄉",
                    "926 南州鄉",
                    "927 林邊鄉",
                    "928 東港鎮",
                    "929 琉球鄉",
                    "931 佳冬鄉",
                    "932 新園鄉",
                    "940 枋寮鄉",
                    "941 枋山鄉",
                    "942 春日鄉",
                    "943 獅子鄉",
                    "944 車城鄉",
                    "945 牡丹鄉",
                    "946 恆春鎮",
                    "947 滿州鄉"
                    ],
                    "city": "屏東縣"
                },
                {
                    "area": [
                    "950 臺東市",
                    "951 綠島鄉",
                    "952 蘭嶼鄉",
                    "953 延平鄉",
                    "954 卑南鄉",
                    "955 鹿野鄉",
                    "956 關山鎮",
                    "957 海端鄉",
                    "958 池上鄉",
                    "959 東河鄉",
                    "961 成功鎮",
                    "962 長濱鄉",
                    "963 太麻里鄉",
                    "964 金峰鄉",
                    "965 大武鄉",
                    "966 達仁鄉"
                    ],
                    "city": "臺東縣"
                },
                {
                    "area": [
                    "970 花蓮市",
                    "971 新城鄉",
                    "972 秀林鄉",
                    "973 吉安鄉",
                    "974 壽豐鄉",
                    "975 鳳林鎮",
                    "976 光復鄉",
                    "977 豐濱鄉",
                    "978 瑞穗鄉",
                    "979 萬榮鄉",
                    "981 玉里鎮",
                    "982 卓溪鄉",
                    "983 富里鄉"
                    ],
                    "city": "花蓮縣"
                }
                ],
                exceptionCity: ['台東縣'], //951 綠島鄉、952 蘭嶼鄉
                excludeCity: ['釣魚臺', '金門縣', '連江縣', '澎湖縣', '南海島'],
                excludeArea: ['290 釣魚臺', '951 綠島鄉', '952 蘭嶼鄉', '817 東沙群島', '819 南沙群島', '929 琉球鄉'],
                newArray: [],
                init: function () {
                this.createCity();
                let flag = this.setDefault();
                console.log(flag);
                if (!flag) {
                    this.drawView();
                }
                },
                createCity: function () {
                let self = this;
                this.twcode.forEach(function (item) {
                    if (self.excludeCity.indexOf(item.city) === -1) {
                    self.newArray.push(item.city);
                    }
                });
                },
                drawView: function () {
            
                let otpionHTML = "<option value=''>城市/縣</option>";
                this.newArray.forEach(function (item) {
                    otpionHTML += `<option value='${item}'>${item}</option>`;
                });
                $(this.el).find('.select-city').html(otpionHTML);
                },
                filterArea: function (city) {
                let filterAreas = this.twcode.find(function (item, index, array) {
                    return item.city === city;
                });
                return filterAreas.area;
                },
                setDefault: function () {
                let self = this;
                this.df = $('#text').val();
                let hasValue = this.df !== "";
                if (!hasValue) return false;
                let keys = this.df.split('|');
                let optionHTML = "<option value=''>城市/縣</option>";
                this.newArray.forEach(function (item) {
                    if (keys[0] === item) {
                    optionHTML += `<option value='${item}' selected>${item}</option>`;
                    } else {
                    optionHTML += `<option value='${item}'>${item}</option>`;
                    }
                });
                $(this.el).find('.select-city').html(optionHTML);
                optionHTML = "";
                this.filterArea(keys[0]).forEach(function (item) {
                    if (self.excludeArea.indexOf(item) === -1) {
                    if (keys[1] === item) {
                        optionHTML += `<option value='${item}' selected>${item}</option>`;
                    } else {
                        optionHTML += `<option value='${item}'>${item}</option>`;
                    }
                    }
                });
                $(this.el).find('.select-area').html(optionHTML);
                return hasValue;
                }
            };
            land.init();
            
            $(land.el).find('.select-city').on('change', function (e) {
                let optionHTML = "<option value=''>城市/縣</option>";
                let filterItem = e.target.value;
                land.filterArea(filterItem).forEach(function (item) {
                if (land.excludeArea.indexOf(item) === -1) {
                    optionHTML += `<option value='${item}'>${item}</option>`;
                }
                });
                $(land.el).find('.select-area').html(optionHTML);
            });
            
            $('#btn').on('click', function () {
                let city = $(land.el).find('.select-city').val();
                let area = $(land.el).find('.select-area').val();
                if (city === "" || area === "") {
                alert('請選擇區域');
                return;
                }
                console.log(city, area);
            });

            