extends ../layout/layout.pug

block view 
    .memberWrap
        .memberWrapBox
            //<!------------------------- 這是上方導覽列！當前頁面時＋上span.memberWrapBtnjoinActive-------------------------
            ul.memberWrapBtnArea
                li.memberWrapBtn
                    a(href="../pages/member_login.html") 會員登入
                span.memberWrapBtnloginActive
                li.memberWrapBtn 
                    a(href="../pages/member_join.html") 註冊會員
            //<!------------------------- 這是from表單！-------------------------
            .memberBox
                .fbBtn
                    a(href="#") 以 FACEBOOK 帳號登入
                .separatorBar
                    span.separatorBarcontent or
                p.text-center 請輸入您的登入資訊
                .warnInfo 你須先登入或註冊後才能繼續。
                label.col-12(for="email")
                    | 電郵地址
                    input#email.form-control(type="text")
                label.col-12(for="password")
                    | 密碼
                    input#password.form-control(type="password")
                a.underline(href="../pages/member_forgetPosswordPage.html") 忘記密碼？
                .signInWrap
                    input.form-check-input(type="checkbox")
                    span 保持登入
                a#loginBtn.btn.longinBtn(href="#") 登入

        script.
            document.getElementById("loginBtn").addEventListener("click",function(){
            swal("你已登入會員", "You are logged in as thank!!", "success");
            });
          