extends ../layout/layout.pug

block view 
    .memberAreaContent
        // <!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/service_memberRule.html") 會員專區
                li.breadcrumb-item.active(aria-current="page") 會員點數
        //<!------------------------- 這是上方導覽列不用理他唷！當前頁面時＋上class名稱.memberBtnActive-------------------------
        .col-lg-10.col-12.memberSwitchBtn
            .memberBtn
                a(href="../pages/member_info.html") 個人資訊
            .memberBtn
                a(href="../pages/member_points.html") 會員點數
            .memberBtn.memberBtnActive
                a(href="../pages/member_voucher.html") 優惠券
            .memberBtn
                a(href="../pages/member_order.html") 我的訂單
            .memberBtn
                a(href="../pages/member_likelist.html") 喜愛清單
        .member-areaWrap
            .col-lg-12.voucherEnterWrap
                .col-lg-6.col-12.voucherEnter
                    input.voucherInput.form-control.me-2(type="text",placeholder="輸入優惠券或優惠碼")
                    button.btn.greyBtn.col-lg-2.col-3 使用
                .col-lg-6.col-12
                    //<!------------------------- 點選時有modal唷！-------------------------
                    p.voucherillustrate(data-bs-toggle="modal" data-bs-target="#voucherModal") 優惠券使用說明
                        .modal.fade#voucherModal(tabindex="-1", aria-labelledby="PointModalLabel", aria-hidden="true")
                            .modal-dialog
                                .modal-content.pointModalsize
                                    .modal-header
                                        h5.modal-title#voucherModalLabel 優惠券使用說明
                                        button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                                    .modal-body
                                        ul.voucherModalContentul
                                            li.pt-3 •  折價券一次僅限使用一張，可搭配免運抵用券。
                                            li.pt-3 •  折價券最高折價金額 / 比例，依照各說明為主
                                            li.pt-3 •  折價券僅限於商品金額抵扣，不能用來抵扣運費等其他費用，也不可兌現。
                                            li.pt-3 •  折價券需在有效期限內使用完畢，逾期視為放棄，已過期的折價券會定期自動刪除
            // <!------------------------- 這是抵用卷模板？＿？！-------------------------
            .voucherCoupon.col-12
                .col-12.voucherWrap
                    .coupon.col-lg-6.col-md-6.col-12.voucherSize
                        span.col-12.couponDetail.voucherDetail
                            p.discountTxt
                                img(src="../../assets/icon/couponIcon.jpg", alt)
                                |  抵用卷
                            p.couponTitle 免運抵用券
                            p.discountTxt
                                | 全館不限金額皆可使用
                                br
                                | 有效期限：2021/09/03
                            p.couponState
                                i.bi.bi-check-circle-fill
                                |  已領取
                            a.btn.voucherBtn(href="../pages/product.html") 前往購物
                    .coupon.col-lg-6.col-md-6.col-12.voucherSize
                        span.col-12.couponDetail.voucherDetail
                            p.discountTxt
                                img(src="../../assets/icon/couponIcon.jpg", alt)
                                |  抵用卷
                            p.couponTitle NT$200，最高折 100%
                            p.discountTxt
                                | 消費滿NT$ 2,500可使用
                                br
                                | 有效期限：2021/10/05
                            p.couponState
                                i.bi.bi-check-circle-fill
                                |  已領取
                            a.btn.voucherBtn(href="../pages/product.html") 前往購物
            //<!------------------------- 這是頁面點選！-------------------------
            .clickPageWrap.col-12.pe-4
                nav.clickPage(aria-label="Page navigation example")
                    ul.pagination
                        li.page-item
                            a.page-link(href="#", aria-label="Previous")
                                span(aria-hidden="true") «
                        li.page-item
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href="#") 2
                        li.page-item
                            a.page-link(href="#") 3
                        li.page-item
                            a.page-link(href="#", aria-label="Next")
                                span(aria-hidden="true") »