extends ../layout/layout.pug

block view 
    .cartContentWrap
        // <!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="#") 首頁
                li.breadcrumb-item.active(aria-current="page") 我的購物車
        .detailWrap.mt-3
            //<!------------------------- 這是宣染客戶資料！-------------------------  
            .col-12.col-lg-12.memberorderDetailWrap
                .col-12.col-lg-5.orderDetailItem
                    .orderDetailTitle 訂單資訊
                    table.orderDetailcontent
                        tr 
                            td.pe-4.orderDetailcontentItem 訂單日期
                            td.orderDetailcontentItem 2021/03/28 18:09pm
                        tr
                            td.pe-4.orderDetailcontentItem 訂單狀態
                            td.orderDetailcontentItem 訂單處理中
                .col-12.col-lg-5.orderDetailItem
                    .orderDetailTitle 顧客資訊
                    table.orderDetailcontent
                        tr
                            td.pe-4.orderDetailcontentItem 顧客名稱
                            td.orderDetailcontentItem 王小明
                        tr
                            td.pe-4.orderDetailcontentItem 電話號碼
                            td.orderDetailcontentItem +886 0912555601       
                .col-12.col-lg-5.orderDetailItem
                    .orderDetailTitle 付款資訊
                    table.orderDetailcontent
                        tr
                            td.pe-4.orderDetailcontentItem 訂購總額
                            td.orderDetailcontentItem NT$1,945 
                        tr 
                            td.pe-4 
                            td.orderDetailcontentItem (已折抵:點數 -NT$15 ）
                        tr
                            td.pe-4.orderDetailcontentItem 付款方式
                            td.orderDetailcontentItem 信用卡
                        tr
                            td.pe-4.orderDetailcontentItem 付款狀態
                            td.orderDetailcontentItem 已付款    
                .col-12.col-lg-5.orderDetailItem
                    .orderDetailTitle 配送資訊
                    table.orderDetailcontent 
                        tr
                            td.pe-4.orderDetailcontentItem 配送方式
                            td.orderDetailcontentItem 7-11取貨不付款
                        tr
                            td.pe-4.orderDetailcontentItem 收件人
                            td.orderDetailcontentItem 王小明
                        tr
                            td.pe-4.orderDetailcontentItem  配送地址
                            td.orderDetailcontentItem 7-11 (155050)青河門市
                        tr
                            td 
                            td.orderDetailcontentItem 台中市北屯區青島路三段155號
                        tr 
                            td.orderDetailcontentItem.pe-4 聯絡電話
                            td.orderDetailcontentItem +886 0912555601
        //<!------------------------- 這是購物車標題不用理他唷！-------------------------
        .shoppingList
            p.carDetailTitle 購物車清單
            ul.shoppingListTitleUl
                li.shoppingListTitle
                    span.col-12.phoneShoppingListTitle 商品資訊
                    .col-md-2.webShoppingTitle
                    .col-md-9.webShoppingTitle
                        .col-md-3.webShoppingList 商品
                        .col-md-2.webShoppingList 規格
                        .col-md-2.webShoppingList 單價
                        .col-md-2.webShoppingList 數量
                        .col-md-2.webShoppingList 總計
            //<!------------------------- 這是宣染產品列表！-------------------------
            ul.shoppingListItemUl
                li.shoppingListItem
                    .col-md-2.webShoppingList
                        a(href="../pages/productdetail.html")
                            img.shoppingListPic(src="../../assets/product/product11.jpg")
                    .col-md-9.webShoppingList
                        .col-md-3.col-12.webShoppingList
                            a.cartPrdName(href="../pages/productdetail.html") 
                                p.brandTit adidas</br>
                                p 克里夫蘭感恩紀念T
                        .col-md-2.col-12.webShoppingList M-黑色
                        .col-md-2.col-12.webShoppingList NT$980
                        .col-md-2.col-12.webShoppingList 2
                        .col-md-2.webShoppingList.phoneDispayNone NT$980
        .col-12.resultBoxWrap
            ul.resultBox.col-lg-4.col-12
                li.resultBoxContent
                    span.col-lg-2 小計
                    span.col-lg-7.boldFace NT$ 1,960
                li.resultBoxContent
                    span.col-lg-2 折扣
                    span.col-lg-7.boldFace  - NT$ 15
                li.resultBoxContent
                    span.col-lg-2 運費
                    span.col-lg-7.boldFace NT$ 0
                li.resultBoxContent.phoneBorderTop
                    span.col-lg-2 總計
                    span.col-lg-7.boldFace NT$ 1,945
        //<!------------------------- 這是頁面點選！-------------------------         
        .col-12.backOrder.pb-5
            a(href="../pages/member_order.html")  
                i.bi.bi-chevron-double-left 返回我的訂單 