extends ../layout/layout.pug

block view 
    .memberAreaContent
        // <!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/service_memberRule.html") 會員專區
                li.breadcrumb-item.active(aria-current="page") 會員點數
        //<!------------------------- 這是上方導覽列不用理他唷！當前頁面時＋上class名稱.memberBtnActive-------------------------
        .col-lg-10.col-12.memberSwitchBtn
            .memberBtn
                a(href="../pages/member_info.html") 個人資訊
            .memberBtn
                a(href="../pages/member_points.html") 會員點數
            .memberBtn
                a(href="../pages/member_voucher.html") 優惠券
            .memberBtn
                a(href="../pages/member_order.html") 我的訂單
            .memberBtn.memberBtnActive
                a(href="../pages/member_likelist.html") 喜愛清單
        .member-areaWrap
            //<!------------------------- 這是購物車標題不用理他唷！-------------------------
            .col-lg-12.col-12.PointBigTitle.pb-3
                p.carDetailTitle 喜愛清單
            .col-lg-12.col-12
                ul.myProductList.col-lg-12
                    li.col-12.myProductListTitle
                        span.col-12.phonemyProductListListTitle 商品資訊
                        span.col-12.webmyProductListListTitle
                            .col-lg-2.webmyProductListListTitle
                            .col-lg-8.webmyProductListListTitle
                                .col-lg-3 商品
                                .col-lg-2 規格
                                .col-lg-2 單價
                                .col-lg-2 數量
                                .col-lg-2 總計
                            .col-lg-2.webmyProductListListTitle
                //<!------------------------- 這是宣染內容！-------------------------
                ul.myProductList.col-lg-12.vueTemplate
                    li.col-12.myProductListItem(v-for="(item,index) in listData")
                        .col-lg-2.col-md-2.col-3.myProductListItemPic
                            a(href="../pages/productdetail.html")
                                img.shoppingListPic(src="../../assets/product/product11.jpg")
                        .col-lg-8.col-md-8.col-5.myProductListItemDetaile
                            .col-lg-3.col-12
                                a(href="../pages/productdetail.html") 
                                    p.brandTit adidas</br>
                                    p 克里夫蘭感恩紀念T
                            .col-lg-2.col-12 {{item.size}}-{{item.color}}
                            .col-lg-2.col-12 NT$ {{item.price}}
                            .col-lg-2.col-12
                                span.countBtn(@click="handleSub(item)")
                                    i.bi.bi-dash-circle
                                span.num {{item.num}}
                                span.countBtn(@click="handlePlus(item)")  
                                    i.bi.bi-plus-circle
                            .col-lg-2.col-md-2.col-12.myProductListTotal NT$ {{item.price * item.num}}
                        .col-lg-2.col-4
                            a.btn.likePageBtn.addBtn(href="#") 加入購物車
                            a.btn.likePageBtn.deleteBtn(href="#", @click="handledelete(index)") 刪除
            //<!------------------------- 這是頁面點選！-------------------------
            .clickPageWrap.col-12.pe-4
                nav.clickPage(aria-label="Page navigation example")
                    ul.pagination
                        li.page-item
                            a.page-link(href="#", aria-label="Previous")
                                span(aria-hidden="true") «
                        li.page-item
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href="#") 2
                        li.page-item
                            a.page-link(href="#") 3
                        li.page-item
                            a.page-link(href="#", aria-label="Next")
                                span(aria-hidden="true") »                   
    script(src="https://cdn.jsdelivr.net/npm/vue@2.6.14")
    script.
        new Vue({
            el: '.vueTemplate',
            data(){
                return{
                    listData: [{
                    pic: '../../../assets/product/product11.jpg',
                    productName: '克里夫蘭感恩紀念T',
                    size: 'M',
                    color: '紅色',
                    price: '680',
                    num: '2',
                }, {
                    pic: '../../../assets/product/product12.jpg',
                    productName: '帥氣t',
                    size: 'L',
                    color: '藍色',
                    price: '880',
                    num: '3',
                }]
                }
            },
            methods: {
                //讓他可以被加1
                handlePlus: function (item) {
                    item.num++;
                },
                //讓他大於1時可以被減少
                handleSub: function (item) {
                    if (item.num > 1) {
                        item.num--;
                    }
                },
                //讓他可以刪除
                handledelete: function (index) {
                    this.listData.splice(index, 1);
                }
            }
        })
     //click btn alert
        let add = document.getElementsByClassName('addBtn');
        Object.keys(add).forEach((key) => {
            let target = add[key];
            target.addEventListener('click', () => {
               swal("你已加入購物車", "Add to cart thank!!", "success");
            })
        })

        let del = document.getElementsByClassName('deleteBtn');
        Object.keys(del).forEach((key) => {
            let target = del[key];
            target.addEventListener('click', () => {
               swal("你已刪除商品", "You have deleted the product thank!!", "success");
            })
        })