extends ../layout/layout.pug

block view 
    .memberWrap
        // <!------------------------- 這是麵包屑！-------------------------
        .memberWrapBox
            ul.memberWrapBtnArea
                li.memberWrapBtn
                    a(href="../pages/member_login.html") 忘記密碼
                span.memberWrapBtnloginActive
                li.memberWrapBtn 
                    a(href="../pages/member_join.html") 註冊會員
            //<!------------------------- 這是from表單！-------------------------
            .memberBox
                .warnInfo 請輸入您註冊時的電子郵件
                label.col-12(for="email")
                    | 電子郵件
                    input#email.form-control(type="text")
                p 發送『重設密碼』郵件到我的信箱
                a.btn.longinBtn#nextpossword(href="#") 下一步
                .signInWrap
                    span.nodeTxt ( 備註: 請注意，忘記密碼的Email發送僅能發送至您註冊時用的Email信箱 )
       
        script.
            //click btn alert
            document.getElementById("nextpossword").addEventListener("click",function(){
            swal("我們已經將重設密碼連結發送至您的Email信箱", "daisy.xia@inspire-dt.com", "success");
            });