extends ../layout/layout.pug
block view
    .memberAreaContent
        // <!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/service_memberRule.html") 會員專區
                li.breadcrumb-item.active(aria-current="page") 會員點數
        //<!------------------------- 這是上方導覽列不用理他唷！-------------------------
        .col-lg-10.col-12.memberSwitchBtn
            .memberBtn.memberBtnActive
                a(href="../pages/member_info.html") 個人資訊
            .memberBtn
                a(href="../pages/member_points.html") 會員點數
            .memberBtn
                a(href="../pages/member_voucher.html") 優惠券
            .memberBtn
                a(href="../pages/member_order.html") 我的訂單
            .memberBtn
                a(href="../pages/member_likelist.html") 喜愛清單 
        //<!------------------------- 這是from表單！-------------------------
        .col-lg-10.col-12.memberAreaInfoBox
            .passwordChangeBox
                h3.passwordChangeBoxTitle 修改密碼
                label.col-12(for="email")
                    | 輸入舊密碼
                    input#email.form-control(type="text")
                label.col-12(for="password")
                    | 輸入新密碼
                    input#password.form-control(type="text")
                label.col-12(for="password")
                    | 確認新密碼
                    input#password.form-control(type="text")
            .col-lg-8.col-12.passwordChangeBoxBtn
                a.btn.passwordChangeBoxMyBtn#passwordChangeBoxMyBtn(href="#") 儲存變更
    script.
     //click btn alert
            document.getElementById("passwordChangeBoxMyBtn").addEventListener("click",function(){
             swal("你已更新資料", "updated your info thank!!", "success");
            });
