extends ../layout/layout.pug

block view 
    .memberAreaContent
        // <!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/service_memberRule.html") 會員專區
                li.breadcrumb-item.active(aria-current="page") 會員點數
        //<!------------------------- 這是上方導覽列不用理他唷！當前頁面時＋上class名稱.memberBtnActive-------------------------
        .col-lg-10.col-12.memberSwitchBtn
            .memberBtn
                a(href="../pages/member_info.html") 個人資訊
            .memberBtn.memberBtnActive
                a(href="../pages/member_points.html") 會員點數
            .memberBtn
                a(href="../pages/member_voucher.html") 優惠券
            .memberBtn
                a(href="../pages/member_order.html") 我的訂單
            .memberBtn
                a(href="../pages/member_likelist.html") 喜愛清單
        //<!------------------------- 這是客戶資料內容！-------------------------
        .member-areaWrap
            .col-lg-12.pointsWrap
                .col-lg-12.pointsBox
                    .col-lg-2.col-5.pointsPic
                        img(src="../../assets/icon/money.png", alt)
                    .col-lg-2.col-5.pointTxt
                        p 現有總點數
                        p
                            span.bigPointNum 10
                            | 點
                        p
                            | 等值
                            span.boldFone NT$10
                    .col-lg-8.col-10
                        p.txtlh
                            | 10點將於2022-03-28到期
                            br
                            | 消費 NT$1000 可累計 1 點，1 點可折抵 NT$1。
                        //<!------------------------- 點選時有modal唷！-------------------------
                        p.pointillustrate(data-bs-toggle="modal" data-bs-target="#PointModal") 點數規則說明
                            .modal.fade#PointModal(tabindex="-1", aria-labelledby="PointModalLabel", aria-hidden="true")
                                .modal-dialog
                                    .modal-content.PointModal
                                        .modal-header
                                            h5.modal-title#PointModalLabel 會員點數說明
                                            button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                                        .modal-body
                                            ul.pointModaltxt
                                                li.pt-3 •  消費 NT$1000 可累計 1 點，1 點可折抵 NT$1。 
                                                li.pt-3  •  訂單需滿500元方可使用點數折抵(可使用的點數依會員當時持有的點數為準)
                                                li.pt-3  •  消費回饋點數效期為發放生效後的365天到期，其他點數依各活動規範而定；點數逾期仍未使用時，系統將於到期時自動從帳戶中扣除。
                //<!------------------------- 這是購物車標題不用理他唷！-------------------------
                .col-lg-12.col-12.pb-3
                    p.carDetailTitle 點數紀錄
                .col-12.pointsDetailwebDisplay
                    ul.col-lg-12.webDisplay
                        li.col-lg-3 日期    
                        li.col-lg-3 點數紀錄
                        li.col-lg-2 點數   
                        li.col-lg-2 到期日
                        li.col-lg-2 現有總點數
                //  宣染內容從這裡開始唷(這邊的標題也要迴圈＾Ｖ＾)！
                .col-12.pointsDetail
                    ul.col-lg-12.col-3.pointsTitle
                        li.col-lg-3 日期 
                        li.col-lg-3 點數紀錄
                        li.col-lg-2 點數
                        li.col-lg-2 到期日
                        li.col-lg-2 現有總點數
                    ul.col-lg-12.col-9.pointsDetailContent
                        li.col-lg-3 2021/08/03 14:25pm
                        li.col-lg-3 使用點數&ensp;訂單
                            a(href="../pages/member_order_detail.html")
                                span.orderColor OY204928490
                        li.col-lg-2 -5
                        li.col-lg-2 -
                        li.col-lg-2 10
                .col-12.pointsDetail
                    ul.col-lg-12.col-3.pointsTitle
                        li.col-lg-3 日期   
                        li.col-lg-3 點數紀錄
                        li.col-lg-2 點數
                        li.col-lg-2 到期日
                        li.col-lg-2 現有總點數
                    ul.col-lg-12.col-9.pointsDetailContent
                        li.col-lg-3 2021/03/28 18:09pm
                        li.col-lg-3 消費贈點&ensp;訂單 
                            a(href="../pages/member_order_detail.html")
                                span.orderColor OY104068483
                        li.col-lg-2 +15
                        li.col-lg-2 2021/03/28
                        li.col-lg-2 15
            //<!------------------------- 這是頁面點選！-------------------------            
            .clickPageWrap.col-12.pe-4
                nav.clickPage(aria-label="Page navigation example")
                    ul.pagination
                        li.page-item
                            a.page-link(href="#", aria-label="Previous")
                                span(aria-hidden="true") «
                        li.page-item
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href="#") 2
                        li.page-item
                            a.page-link(href="#") 3
                        li.page-item
                            a.page-link(href="#", aria-label="Next")
                                span(aria-hidden="true") »