extends ../layout/layout.pug

block view 
    .memberWrap
        //<!------------------------- 這是上方導覽列！當前頁面時＋上span.memberWrapBtnjoinActive-------------------------
        .memberWrapBox
            ul.memberWrapBtnArea
                li.memberWrapBtn 
                    a(href="../pages/member_login.html") 會員登入
                li.memberWrapBtn 註冊會員
                span.memberWrapBtnjoinActive
            //<!------------------------- 這是from表單！-------------------------
            .memberBox
                .fbBtn
                    a(href="#") 以 FACEBOOK 帳號註冊
                .separatorBar
                    span.separatorBarcontent or
                p.text-center 不使用社群，直接註冊
                label.col-12(for="email")
                    | 帳號
                    input#email.form-control(type="text",placeholder="請輸入電子郵件信箱")
                label.col-12(for="name")
                    | 姓名
                    input#email.form-control(type="text")
                label.col-12.flex(for="sex")
                    | 性別 &emsp;
                    input.form-check-input.mt-3#male(type="radio", name="sex",value=0,checked)
                    div.mt-1.ps-2 先生 &emsp; 
                    input.form-check-input.mt-3#female(type="radio", name="sex",value=1)
                    div.mt-1.ps-2 小姐
                label.col-12(for="password")
                    | 密碼
                    input#password.form-control(type="text")
                label.col-12(for="checkpassword")
                    | 確認密碼
                    input#checkpassword.form-control(type="text")
                .signInWrap
                    input.form-check-input(type="checkbox")
                    span 我同意
                        a.underline(href="../pages/service_privacyPolicy.html") 網站服務條款及隱私政策
                a.btn.longinBtn#joinBtn(href="#") 註冊
        
       
        script.
            document.getElementById("joinBtn").addEventListener("click",function(){
            swal("你已註冊會員", "You are logged in as thank!!", "success");
            });