extends ../layout/layout.pug

block view
    <link href="https://www.insightindia.com/mcss/icon-font.css" rel="stylesheet" />
    link(href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css", rel="stylesheet")
    .container-fluid.product-bottom
        // <!------------------------- 這是麵包屑！-------------------------
        .productArea
            nav.breadcrumb-wrap(aria-label="breadcrumb")
                ol.breadcrumb
                    li.breadcrumb-item
                    a(href="#") 首頁&ensp;/&ensp;
                    li.breadcrumb-item
                    a(href="#") 服飾&ensp;/&ensp; 
                    li.breadcrumb-item.active(aria-current="page") 短袖
            // <!------------------------- 這邊是網頁版篩選器！！-------------------------
            .col-12.productInfo 
                p 1-24 顯示 | 共52品項 
                select.form-select(aria-label="Default select example")
                    option(selected) 排序
                    option(value="1") 價格低到高
                    option(value="2") 價格高到低
                    option(value="3") 上架新到舊
                    option(value="4") 上架舊到新
                    option(value="5") 依瀏覽數高
            //<!------------------------- 這邊是網頁版左邊篩選器！！-------------------------
            .col-lg-2.selectBox
                .selectBoxItem
                    h3.selectBoxTitle 分類
                    p.openCollapse(data-bs-toggle="collapse", href="#category", role="button", aria-expanded="false", aria-controls="category") __
                    .collapse#category
                        ul
                            li
                                input.form-check-input#short(type="checkbox", name="short")
                                label(for="short") 短袖
                            li
                                input.form-check-input#long(type="checkbox", name="long")
                                label(for="long") 長袖
                            li
                                input.form-check-input#tank(type="checkbox", name="tank")
                                label(for="tank") 背心
                            li
                                input.form-check-input#hoodie(type="checkbox", name="hoodie")
                                label(for="hoodie") 帽T
                            li   
                                input.form-check-input#shortPants(type="checkbox", name="shortPants")
                                label(for="shortPants") 短褲 
                            li
                                input.form-check-input#longPants(type="checkbox", name="longPants")
                                label(for="longPants") 長褲
                            li
                                input.form-check-input#brief(type="checkbox", name="brief")
                                label(for="brief") 內褲
                      
                            li
                                input.form-check-input#outerwear(type="checkbox", name="outerwear")
                                label(for="outerwear") 外套
                            li
                                input.form-check-input#newProduct(type="checkbox", name="newProduct")
                                label(for="newProduct") 新品
                            li  
                                input.form-check-input#sale(type="checkbox", name="sale")
                                label(for="sale") SALE 
                .selectBoxItem
                    h3.selectBoxTitle 尺寸
                    p.openCollapse(data-bs-toggle="collapse", href="#size", role="button", aria-expanded="false", aria-controls="size") __
                    .collapse#size
                        ul 
                            li
                                input.form-check-input#sizeS(type="checkbox", name="sizeS")
                                label(for="sizeS") S
                            li
                                input.form-check-input#sizeM(type="checkbox", name="sizeM")
                                label(for="sizeM") M
                            li
                                input.form-check-input#sizeL(type="checkbox", name="sizeL")
                                label(for="sizeL") L
                            li
                                input.form-check-input#sizeXL(type="checkbox", name="sizeXL")
                                label(for="sizeXL") XL
                            li
                                input.form-check-input#sizeF(type="checkbox", name="sizeF")
                                label(for="sizeF") F
                            li
                                input.form-check-input#sixzeUN(type="checkbox", name="sizeUN")
                                label(for="sizeUN") UN 
                        br
            // <!------------------------- 這邊是手機版篩選器！！-------------------------
            .col-lg-10.col-12
                span.phoneSelectBox
                    a.funnel(data-bs-toggle="offcanvas" href="#selectMachine" role="button" aria-controls="selectMachine") 篩選器 <i class="bi bi-funnel"></i>
                    .offcanvas.offcanvas-start#selectMachine(tabindex="-1", aria-labelledby="offcanvasExampleLabel")
                        .offcanvas-header
                            h5.offcanvas-title#offcanvasExampleLabel 篩選器
                            button.btn-close.text-reset(type="button", data-bs-dismiss="offcanvas", aria-label="Close")
                        .offcanvas-body
                            ul
                                li
                                    ul
                                        li
                                            label.selectMachineTitle 分類
                                        li
                                            input.form-check-input#short(type="checkbox", name="short")
                                            label(for="short") 短袖
                                        li
                                            input.form-check-input#long(type="checkbox", name="long")
                                            label(for="long") 長袖
                                        li
                                            input.form-check-input#tank(type="checkbox", name="tank")
                                            label(for="tank") 背心
                                        li
                                            input.form-check-input#hoodie(type="checkbox", name="hoodie")
                                            label(for="hoodie") 帽T
                                        li
                                            input.form-check-input#shortPants(type="checkbox", name="shortPants")
                                            label(for="shortPants") 短褲
                                        li
                                            input.form-check-input#longPants(type="checkbox", name="longPants")
                                            label(for="longPants") 長褲
                                        li
                                            input.form-check-input#brief(type="checkbox", name="brief")
                                            label(for="brief") 內褲
                                        li
                                            input.form-check-input#outerwear(type="checkbox", name="outerwear")
                                            label(for="outerwear") 外套
                                        li
                                            input.form-check-input#newProduct(type="checkbox", name="newProduct")
                                            label(for="newProduct") 新品
                                        li
                                            input.form-check-input#sale(type="checkbox", name="sale")
                                            label(for="sale") SALE
                                li
                                    ul
                                        li
                                            label.selectMachineTitle.pt-4 尺寸
                                        li
                                            input.form-check-input#sizeS(type="checkbox", name="sizeS")
                                            label(for="sizeS") S
                                        li
                                            input.form-check-input#sizeM(type="checkbox", name="sizeM")
                                            label(for="sizeM") M
                                        li
                                            input.form-check-input#sizeL(type="checkbox", name="sizeL")
                                            label(for="sizeL") L
                                        li
                                            input.form-check-input#sizeXL(type="checkbox", name="sizeXL")
                                            label(for="sizeXL") XL
                                        li
                                            input.form-check-input#sizeF(type="checkbox", name="sizeF")
                                            label(for="sizeF") F
                                        li
                                            input.form-check-input#sizeUN(type="checkbox", name="sizeUN")
                                            label(for="sizeUN") UN
                                    
                    a.filters#filters(data-bs-toggle="dropdown", aria-expanded="false")
                        | 排序 
                        i.bi.bi-chevron-down
                    ul.dropdown-menu.filters-menu(aria-labelledby="filters")
                        li
                            a.dropdown-item(href="#") 價格低到高
                        li
                            a.dropdown-item(href="#") 價格高到低
                        li
                            a.dropdown-item(href="#") 上架新到舊
                        li 
                            a.dropdown-item(href="#") 上架舊到新
                        li 
                            a.dropdown-item(href="#") 依瀏覽數高
                // <!------------------------- 這邊是產品宣染內容！！------------------------- 
                .productBox
                    .productItem
                        .productImgWrap
                            .saleTap.pa 
                                p SALE
                            a(href="../pages/productdetail.html")
                                img(src="../../assets/product/product12.jpg", alt)   
                            i.bi.bi-cart4.phoneLikeIcon(data-bs-toggle="modal", data-bs-target="#productModalId1")
                            .modal.fade#productModalId1(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
                                .modal-dialog
                                    .modal-content
                                        .modal-body
                                            button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close") 
                                            section#detail
                                                .container
                                                    .row
                                                    .col-md-8.mx-auto
                                                        .product-images.demo-gallery
                                                        //  340*315大圖區
                                                        .main-img-slider
                                                            a(data-fancybox="gallery", href="../assets/product/new1.jpg")
                                                                img.img-fluid(src="../../assets/product/new1.jpg")
                                                            a(data-fancybox="gallery", href="../assets/product/new2.jpg")
                                                                img.img-fluid(src="../../assets/product/new2.jpg")
                                                            a(data-fancybox="gallery", href="../assets/product/new3.jpg")
                                                                img.img-fluid(src="../../assets/product/new3.jpg")
                                                            a(data-fancybox="gallery", href="../assets/product/new4.jpg")
                                                                img.img-fluid(src="../../assets/product/new4.jpg")
                                                            a(data-fancybox="gallery", href="../assets/product/popular10.jpg")
                                                                img.img-fluid(src="../../assets/product/popular10.jpg")
                                                            a(data-fancybox="gallery", href="../assets/product/product1.jpg")
                                                                img.img-fluid(src="../../assets/product/product1.jpg")
                                                        //  小圖區74*80 
                                                        ul.thumb-nav
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new1.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new2.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new3.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new4.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/popular10.jpg") 
                                                        table.productModalTable
                                                                tbody
                                                                    tr
                                                                        th.productModalTableTit 品名
                                                                        td Nike 克里夫蘭 感恩 紀念T
                                                                    tr
                                                                        th.productModalTableTit 價格
                                                                        td NT$ 980
                                                                    tr
                                                                        th.productModalTableTit 顏色
                                                                        td
                                                                            select.form-select.productModalSelect
                                                                                option(value="1") 黑色
                                                                    tr
                                                                        th.productModalTableTit 尺寸
                                                                        td
                                                                            select.form-select.productModalSelect
                                                                                option(value="1") S
                                                                    tr 
                                                                        th 數量
                                                                        td 
                                                                            span.calculate
                                                                                i.bi.bi-dash-circle.countBtn(@click="handleSub()")
                                                                                span.num {{num}}
                                                                                i.bi.bi-plus-circle.countBtn(@click="handlePlus()")
                                                                    tr
                                                                        th
                                                                        td.productModalInventory 現庫存只剩3件
                                                        div.productModalBtnArea
                                                            button.btn.productModalAddLikeBtn(type="button") 加入收藏盒
                                                            button.btn.productModalAddCartBtn(type="button") 加入購物車
                            span.productBtnArea   
                                button.button.button--mimas.likeIcon
                                    span.starBtnTxt 加入收藏
                                        i.bi.bi-suit-heart
                                button.button.button--mimas.cartIcon
                                    span.starBtnTxt 加入購物車
                                        i.bi.bi-cart4
                        .productTxt
                            a(href="../pages/productdetail.html")
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                            p.productPrice NT$ 640
                            p.productPriceDiscount NT$ 999      
                    .productItem
                        .productImgWrap
                            .newTap.pa 
                                p NEW
                            a(href="../pages/productdetail.html")
                                img(src="../../assets/product/product13.jpg", alt)
                            i.bi.bi-cart4.phoneLikeIcon(data-bs-toggle="modal", data-bs-target="#productModalId1")
                            .modal.fade#productModalId1(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
                                .modal-dialog
                                    .modal-content
                                        .modal-body
                                            button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close") 
                                            section#detail
                                                .container
                                                    .row
                                                    .col-md-8.mx-auto
                                                        .product-images.demo-gallery
                                                        //  340*315大圖區
                                                        .main-img-slider
                                                            a(data-fancybox="gallery", href="../../../assets/product/new1.jpg")
                                                                img.img-fluid(src="../../assets/product/new1.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/new2.jpg")
                                                                img.img-fluid(src="../../assets/product/new2.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/new3.jpg")
                                                                img.img-fluid(src="../../assets/product/new3.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/new4.jpg")
                                                                img.img-fluid(src="../../assets/product/new4.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/popular10.jpg")
                                                                img.img-fluid(src="../../assets/product/popular10.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/product1.jpg")
                                                                img.img-fluid(src="../../assets/product/product1.jpg")
                                                        //  小圖區74*80 
                                                        ul.thumb-nav
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new1.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new2.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new3.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new4.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/popular10.jpg") 
                                                        table.productModalTable
                                                                tbody
                                                                    tr
                                                                        th.productModalTableTit 品名
                                                                        td Nike 克里夫蘭 感恩 紀念T
                                                                    tr
                                                                        th.productModalTableTit 價格
                                                                        td NT$ 980
                                                                    tr
                                                                        th.productModalTableTit 顏色
                                                                        td
                                                                            select.form-select.productModalSelect
                                                                                option(value="1") 黑色
                                                                    tr
                                                                        th.productModalTableTit 尺寸
                                                                        td
                                                                            select.form-select.productModalSelect
                                                                                option(value="1") S
                                                                    tr 
                                                                        th 數量
                                                                        td 
                                                                            span.calculate
                                                                                i.bi.bi-dash-circle.countBtn(@click="handleSub()")
                                                                                span.num {{num}}
                                                                                i.bi.bi-plus-circle.countBtn(@click="handlePlus()")
                                                                    tr
                                                                        th
                                                                        td.productModalInventory 現庫存只剩3件
                                                        div.productModalBtnArea
                                                            button.btn.productModalAddLikeBtn(type="button") 加入收藏盒
                                                            button.btn.productModalAddCartBtn(type="button") 加入購物車 
                            span.productBtnArea   
                                button.button.button--mimas.likeIcon
                                    span.starBtnTxt 加入收藏
                                        i.bi.bi-suit-heart
                                button.button.button--mimas.cartIcon
                                    span.starBtnTxt 加入購物車
                                        i.bi.bi-cart4
                        .productTxt
                            a(href="../pages/productdetail.html")
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                            p.productPrice NT$ 640
                            p.productPriceDiscount NT$ 999
                    .productItem
                        .productImgWrap
                            a(href="../pages/productdetail.html")
                                img(src="../../assets/product/product11.jpg", alt)
                            i.bi.bi-cart4.phoneLikeIcon(data-bs-toggle="modal", data-bs-target="#productModalId1")
                            .modal.fade#productModalId1(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
                                .modal-dialog
                                    .modal-content
                                        .modal-body
                                            button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close") 
                                            section#detail
                                                .container
                                                    .row
                                                    .col-md-8.mx-auto
                                                        .product-images.demo-gallery
                                                        //  340*315大圖區
                                                        .main-img-slider
                                                            a(data-fancybox="gallery", href="../../../assets/product/new1.jpg")
                                                                img.img-fluid(src="../../assets/product/new1.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/new2.jpg")
                                                                img.img-fluid(src="../../assets/product/new2.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/new3.jpg")
                                                                img.img-fluid(src="../../assets/product/new3.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/new4.jpg")
                                                                img.img-fluid(src="../../assets/product/new4.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/popular10.jpg")
                                                                img.img-fluid(src="../../assets/product/popular10.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/product1.jpg")
                                                                img.img-fluid(src="../../assets/product/product1.jpg")
                                                        //  小圖區74*80 
                                                        ul.thumb-nav
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new1.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new2.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new3.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new4.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/popular10.jpg") 
                                                        table.productModalTable
                                                                tbody
                                                                    tr
                                                                        th.productModalTableTit 品名
                                                                        td Nike 克里夫蘭 感恩 紀念T
                                                                    tr
                                                                        th.productModalTableTit 價格
                                                                        td NT$ 980
                                                                    tr
                                                                        th.productModalTableTit 顏色
                                                                        td
                                                                            select.form-select.productModalSelect
                                                                                option(value="1") 黑色
                                                                    tr
                                                                        th.productModalTableTit 尺寸
                                                                        td
                                                                            select.form-select.productModalSelect
                                                                                option(value="1") S
                                                                    tr 
                                                                        th 數量
                                                                        td 
                                                                            span.calculate
                                                                                i.bi.bi-dash-circle.countBtn(@click="handleSub()")
                                                                                span.num {{num}}
                                                                                i.bi.bi-plus-circle.countBtn(@click="handlePlus()")
                                                                    tr
                                                                        th
                                                                        td.productModalInventory 現庫存只剩3件
                                                        div.productModalBtnArea
                                                            button.btn.productModalAddLikeBtn(type="button") 加入收藏盒
                                                            button.btn.productModalAddCartBtn(type="button") 加入購物車
                                                             
                            span.productBtnArea   
                                button.button.button--mimas.likeIcon
                                    span.starBtnTxt 加入收藏
                                        i.bi.bi-suit-heart
                                button.button.button--mimas.cartIcon
                                    span.starBtnTxt 加入購物車
                                        i.bi.bi-cart4
                        .productTxt
                            a(href="../pages/productdetail.html")
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                            p.productPrice NT$ 640
                            p.productPriceDiscount NT$ 999
                    .productItem
                        .productImgWrap
                            a(href="../pages/productdetail.html")
                                img(src="../../assets/product/product7.jpg", alt)
                            i.bi.bi-cart4.phoneLikeIcon(data-bs-toggle="modal", data-bs-target="#productModalId1")
                            .modal.fade#productModalId1(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
                                .modal-dialog
                                    .modal-content
                                        .modal-body
                                            button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close") 
                                            section#detail
                                                .container
                                                    .row
                                                    .col-md-8.mx-auto
                                                        .product-images.demo-gallery
                                                        //  340*315大圖區
                                                        .main-img-slider
                                                            a(data-fancybox="gallery", href="../../../assets/product/new1.jpg")
                                                                img.img-fluid(src="../../assets/product/new1.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/new2.jpg")
                                                                img.img-fluid(src="../../assets/product/new2.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/new3.jpg")
                                                                img.img-fluid(src="../../assets/product/new3.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/new4.jpg")
                                                                img.img-fluid(src="../../assets/product/new4.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/popular10.jpg")
                                                                img.img-fluid(src="../../assets/product/popular10.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/product1.jpg")
                                                                img.img-fluid(src="../../assets/product/product1.jpg")
                                                        //  小圖區74*80 
                                                        ul.thumb-nav
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new1.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new2.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new3.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new4.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/popular10.jpg") 
                                                        table.productModalTable
                                                                tbody
                                                                    tr
                                                                        th.productModalTableTit 品名
                                                                        td Nike 克里夫蘭 感恩 紀念T
                                                                    tr
                                                                        th.productModalTableTit 價格
                                                                        td NT$ 980
                                                                    tr
                                                                        th.productModalTableTit 顏色
                                                                        td
                                                                            select.form-select.productModalSelect
                                                                                option(value="1") 黑色
                                                                    tr
                                                                        th.productModalTableTit 尺寸
                                                                        td
                                                                            select.form-select.productModalSelect
                                                                                option(value="1") S
                                                                    tr 
                                                                        th 數量
                                                                        td 
                                                                            span.calculate
                                                                                i.bi.bi-dash-circle.countBtn(@click="handleSub()")
                                                                                span.num {{num}}
                                                                                i.bi.bi-plus-circle.countBtn(@click="handlePlus()")
                                                                    tr
                                                                        th
                                                                        td.productModalInventory 現庫存只剩3件
                                                        div.productModalBtnArea
                                                            button.btn.productModalAddLikeBtn(type="button") 加入收藏盒
                                                            button.btn.productModalAddCartBtn(type="button") 加入購物車
                            span.productBtnArea   
                                button.button.button--mimas.likeIcon
                                    span.starBtnTxt 加入收藏
                                        i.bi.bi-suit-heart
                                button.button.button--mimas.cartIcon
                                    span.starBtnTxt 加入購物車
                                        i.bi.bi-cart4
                        .productTxt
                            a(href="../pages/productdetail.html")
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                            p.productPrice NT$ 640
                            p.productPriceDiscount NT$ 999
                    .productItem
                        .productImgWrap
                            a(href="../pages/productdetail.html")
                                img(src="../../assets/product/product2.jpg", alt)
                            i.bi.bi-cart4.phoneLikeIcon(data-bs-toggle="modal", data-bs-target="#productModalId1")
                            .modal.fade#productModalId1(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
                                .modal-dialog
                                    .modal-content
                                        .modal-body
                                            button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close") 
                                            section#detail
                                                .container
                                                    .row
                                                    .col-md-8.mx-auto
                                                        .product-images.demo-gallery
                                                        //  340*315大圖區
                                                        .main-img-slider
                                                            a(data-fancybox="gallery", href="../../../assets/product/new1.jpg")
                                                                img.img-fluid(src="../../assets/product/new1.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/new2.jpg")
                                                                img.img-fluid(src="../../assets/product/new2.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/new3.jpg")
                                                                img.img-fluid(src="../../assets/product/new3.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/new4.jpg")
                                                                img.img-fluid(src="../../assets/product/new4.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/popular10.jpg")
                                                                img.img-fluid(src="../../assets/product/popular10.jpg")
                                                            a(data-fancybox="gallery", href="../../../assets/product/product1.jpg")
                                                                img.img-fluid(src="../../assets/product/product1.jpg")
                                                        //  小圖區74*80 
                                                        ul.thumb-nav
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new1.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new2.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new3.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/new4.jpg")
                                                            li
                                                                img.thumb-navPic(src="../../assets/product/popular10.jpg") 
                                                        table.productModalTable
                                                                tbody
                                                                    tr
                                                                        th.productModalTableTit 品名
                                                                        td Nike 克里夫蘭 感恩 紀念T
                                                                    tr
                                                                        th.productModalTableTit 價格
                                                                        td NT$ 980
                                                                    tr
                                                                        th.productModalTableTit 顏色
                                                                        td
                                                                            select.form-select.productModalSelect
                                                                                option(value="1") 黑色
                                                                    tr
                                                                        th.productModalTableTit 尺寸
                                                                        td
                                                                            select.form-select.productModalSelect
                                                                                option(value="1") S
                                                                    tr 
                                                                        th 數量
                                                                        td 
                                                                            span.calculate
                                                                                i.bi.bi-dash-circle.countBtn(@click="handleSub()")
                                                                                span.num {{num}}
                                                                                i.bi.bi-plus-circle.countBtn(@click="handlePlus()")
                                                                    tr
                                                                        th
                                                                        td.productModalInventory 現庫存只剩3件
                                                        div.productModalBtnArea
                                                            button.btn.productModalAddLikeBtn(type="button") 加入收藏盒
                                                            button.btn.productModalAddCartBtn(type="button") 加入購物車
                          
                            span.productBtnArea   
                                button.button.button--mimas.likeIcon
                                    span.starBtnTxt 加入收藏
                                        i.bi.bi-suit-heart
                                button.button.button--mimas.cartIcon
                                    span.starBtnTxt 加入購物車
                                        i.bi.bi-cart4
                        .productTxt
                            a(href="../pages/productdetail.html")
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                            p.productPrice NT$ 640
                            p.productPriceDiscount NT$ 999
                    .productItem
                        .productImgWrap
                            a(href="../pages/productdetail.html")
                                img(src="../../assets/product/product3.jpg", alt)
                            //- i.bi.bi-cart4.cartIcon
                            //- i.bi.bi-suit-heart.likeIcon
                            .soldOutBox
                                p.soldOutTxt 售完
                        .productTxt
                            a(href="../pages/productdetail.html")
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                            p.productPrice NT$ 640
                            p.productPriceDiscount NT$ 999
            //<!------------------------- 這是頁面點選！-------------------------
            nav.clickPage(aria-label="Page navigation example")
                ul.pagination
                    li.page-item
                        a.page-link(href="#", aria-label="Previous")
                            span(aria-hidden="true") «
                    li.page-item
                        a.page-link(href="#") 1
                    li.page-item
                        a.page-link(href="#") 2
                    li.page-item
                        a.page-link(href="#") 3
                    li.page-item
                        a.page-link(href="#", aria-label="Next")
                            span(aria-hidden="true") »
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue@2.6.14")
    script.
        //modal裡的輪播
        $('#detail .main-img-slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            arrows: true,
            fade:true,
            autoplay: false,
            autoplaySpeed: 4000,
            speed: 300,
            lazyLoad: 'ondemand',
            asNavFor: '.thumb-nav',
            prevArrow: '<div class="slick-prev"><i class="i-prev"></i><span class="sr-only sr-only-focusable">Previous</span></div>',
            nextArrow: '<div class="slick-next"><i class="i-next"></i><span class="sr-only sr-only-focusable">Next</span></div>'
        });
        // Thumbnail/alternates slider for product page
        $('.thumb-nav').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            infinite:true,
            centerPadding: '0px',
            asNavFor: '.main-img-slider',
            dots: false,
            centerMode: false,
            draggable: true,
            speed:200,
            focusOnSelect: true,
            prevArrow: '<div class="slick-prev"><i class="i-prev verticalLeftArrow"></i></div>',
            nextArrow: '<div class="slick-next"><i class="i-next verticalRightArrow"></i></div>',
        });

        //keeps thumbnails active when changing main image, via mouse/touch drag/swipe
        $('.main-img-slider').on('afterChange', function(event, slick, currentSlide, nextSlide){
        //remove all active class
        $('.thumb-nav .slick-slide').removeClass('slick-current');
        //set active class for current slide
        $('.thumb-nav .slick-slide:not(.slick-cloned)').eq(currentSlide).addClass('slick-current');  
        });
        
        
        new Vue({
            el: '.productModalTable',
            data(){
                return{
                    num:0,
                }
                    
            } 
            ,
            methods: {
                //讓他可以被加1
                handlePlus: function () {
                    this.num++;
                },
                //讓他大於1時可以被減少
                handleSub: function () {
                    if (this.num > 1) {
                        this.num--;
                    }
                }
                
            }
        })
        //讓他按每個按鈕都可alert
        let productModalAddLikeBtn = document.getElementsByClassName('productModalAddLikeBtn');
        Object.keys(productModalAddLikeBtn).forEach((key) => {
        let target = productModalAddLikeBtn[key];
        console.log(target);
        target.addEventListener('click', () => {
            swal("你已加入收藏", "Add to Favorites thank!!", "success");
             })
        })


        let productModalAddCartBtn = document.getElementsByClassName('productModalAddCartBtn');
        Object.keys(productModalAddCartBtn).forEach((key) => {
        let target = productModalAddCartBtn[key];
        console.log(target);
        target.addEventListener('click', () => {
            swal("你已加入購物車", "Add to cart thank!!", "success");
        })
         })
    
