extends ../layout/layout.pug

block view
    <link href="https://www.insightindia.com/mcss/icon-font.css" rel="stylesheet" />
    link(href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css", rel="stylesheet")
    .productDetallArea 
        // <!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="#") 首頁
                li.breadcrumb-item
                    a(href="#") 服飾
                li.breadcrumb-item.active(aria-current="page") 短袖
            // <!------------------------- 這是產品大圖查看！-------------------------
        .floatBox    
            .productView
                div#bigProductPic
                    .productpicWrap
                        .mainImgSlider
                            a(data-fancybox="gallery", href="../assets/product/new1.jpg")
                                img.mainImg(src="../../assets/product/new1.jpg")
                            a(data-fancybox="gallery", href="../assets/product/new2.jpg")
                                img.mainImg(src="../../assets/product/new2.jpg")
                            a(data-fancybox="gallery", href="../assets/product/new3.jpg")
                                img.mainImg(src="../../assets/product/new3.jpg")
                            a(data-fancybox="gallery", href="../assets/product/new4.jpg")
                                img.mainImg(src="../../assets/product/new4.jpg")
                            a(data-fancybox="gallery", href="../assets/product/product3.jpg")
                                img.mainImg(src="../../assets/product/product3.jpg")
                            a(data-fancybox="gallery", href="../assets/product/popular10.jpg")
                                img.mainImg(src="../../assets/product/popular10.jpg")
                            a(data-fancybox="gallery", href="../assets/product/product1.jpg")
                                img.mainImg(src="../../assets/product/product1.jpg")
                        ul.thumbNav
                            li.thumbNavItem
                                img.thumbNavPic(src="../../assets/product/new1.jpg")
                            li.thumbNavItem
                                img.thumbNavPic(src="../../assets/product/new2.jpg")
                            li.thumbNavItem
                                img.thumbNavPic(src="../../assets/product/new3.jpg")
                            li.thumbNavItem
                                img.thumbNavPic(src="../../assets/product/new4.jpg")
                            li.thumbNavItem
                                img.thumbNavPic(src="../../assets/product/product3.jpg")
                            li.thumbNavItem
                                img.thumbNavPic(src="../../assets/product/popular10.jpg")
                            li.thumbNavItem
                                img.thumbNavPic(src="../../assets/product/product1.jpg")
            // <!------------------------- 這是產品詳細內容查看！-------------------------
            .productDetall
                .productDetailTitle
                    h2.title Nike
                    h2.title 克里夫蘭 感恩 紀念T
                    span.flex 
                        .newTap
                            p NEW
                        .saleTap 
                            p SALE
                    h5.pt-3 NT$ 980
                .selectBox-wrapper
                    div.selectBox-Item.pt-0
                        p.fs18 顏色 &emsp;{{color}}
                    #colorBox.selectBox-Item-EL
                        label
                            input(type='radio', name='colorBox', v-model="color", value="黑色" checked='checked')
                            span.round.button(style="background-color:black;")
                        label
                            input(type='radio', name='colorBox', v-model="color", value="白色")
                            span.round.button(style="background-color:#fff;")
                        label
                            input(type='radio', name='colorBox', v-model="color", value="綠色")
                            span.round.button(style="background-color:green;")
                        label
                            input(type='radio', name='colorBox', v-model="color", value="紅色")
                            span.round.button(style="background-color:red;") 
                    div.selectBox-Item
                        p.fs18 尺寸 
                        button.ms-4.btn.sizeDetailBtn(type="button" data-bs-toggle="modal" data-bs-target="#exampleModal") 查看尺寸細節
                                    //<!------------------------- 點選時有modal唷！-------------------------
                        .modal.fade#exampleModal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
                            .modal-dialog.size_modal-dialog
                                .modal-content.sizeDetailModal
                                    .modal-header
                                        h5.modal-title#exampleModalLabel 尺寸參考表
                                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                                    .modal-body.sizeModalWrap
                                        ul.sizeExplanation
                                            li.pt-3 尺寸數據僅供參考，以實際商品為主。
                                            li.pt-3 因布料彈性、測量起訖點、人為拉扯等因素，測量數據與實際商品會有些許誤差，誤差值 均在 ±2cm 以內。
                                        .sizeView.pt-2
                                            .sizeTable
                                                table
                                                    tbody
                                                        tr
                                                            td.sizeTable-title 尺寸
                                                            td.sizeTable-title 肩寬
                                                            td.sizeTable-title 袖長
                                                            td.sizeTable-title 衣長
                                                            td.sizeTable-title 胸寬
                                                        tr
                                                            td.sizeTable-title S
                                                            td 46CM
                                                            td 22CM
                                                            td 68.5CM
                                                            td 47CM
                                                        tr
                                                            td.sizeTable-title M
                                                            td 47CM
                                                            td 23.5CM
                                                            td 72CM
                                                            td 50.5CM
                                                        tr
                                                            td.sizeTable-title L
                                                            td 50CM
                                                            td 24.5CM
                                                            td 73.5CM
                                                            td 54.5CM
                                                        tr
                                                            td.sizeTable-title XL
                                                            td 51CM
                                                            td 25.5CM
                                                            td 75.5CM
                                                            td 58CM
                                            .sizePic
                                                img(src="../../assets/size.png", alt)
                                    //<!------------------------- modal到這裡結束唷！------------------------- 
                                        
                            tr 
                                //- th
                                //- td
                                //-     #radio
                                //-         label
                                //-             input(type='radio', name='label', value='s', checked='checked')
                                //-             span.round.button(data-stock="true") S
                                //-         label
                                //-             input(type='radio', name='label', value='m')
                                //-             span.round.button(data-stock="true") M
                                //-         label
                                //-             input(type='radio', name='label', value='l',disabled)
                                //-             span.round.button(data-stock="false") L
                                //-         label
                                //-             input(type='radio', name='label', value='xl')
                                //-             span.round.button(data-stock="true") XL
                            //- tr
                            //-     th
                            //-     // 如果無對應size時data-stock="false"
                            //-     td
                            //-         span.sizeBox(data-stock="true") S
                            //-     td
                            //-         span.sizeBox(data-stock="true") M
                            //-     td
                            //-         span.sizeBox(data-stock="false") L
                            //-     td
                            //-         span.sizeBox(data-stock="true") XL
                    #radio.selectBox-Item-EL
                        label
                            input(type='radio', name='size', value='s', checked='checked')
                            span.round.button(data-stock="true") S
                        label
                            input(type='radio', name='size', value='m')
                            span.round.button(data-stock="true") M
                        label
                            input(type='radio', name='size', value='l',disabled)
                            span.round.button(data-stock="false") L
                        label
                            input(type='radio', name='size', value='xl')
                            span.round.button(data-stock="true") XL    
                    div.selectBox-Item 
                        p.fs18 數量
                    div.selectBox-Item-EL.count-Area 
                        span.countbtn(@click="handleSub")
                            i.bi.bi-dash-circle
                        span {{num}}
                        span.countbtn(@click="handlePlus")
                            i.bi.bi-plus-circle
                    div.selectBox-Item-EL 
                        p.danger.ps-1 現庫存只剩3件 
                    div.selectBox-Item.productbtnarea
                        button.btn.addLikeBtn#addProductBtn 加入購物車
                        button.btn.addLikeBtn 立即購物
                        button.lovebtn#addLikeBtn 
                            i.bi.bi-suit-heart.addlikebtn
        .productDescription
            h3.panel-bigtitle.panelpadding 產品描述
            p 版型：寬鬆剪裁，活動空間不受限
            p 材質：100% 棉
            p 洗滌：可機洗
            p (衣物深淺色分開，相近色系一起洗滌尤佳，洗滌過程會有些微掉色、 含棉質成分單品下水後可能微縮1-2公分，皆屬正常情形； 亦可使用洗衣袋減少摩擦受損風險。) *由於相機、螢幕會造成色差，一切以實物為主。
            //<!------------------------- 歷史紀錄的小輪播-------------------------
        .historyProduct
            h3.panel-bigtitle.panelpadding 最近瀏覽過商品
            .swiper-container.sixPcs-swiper
                .swiper-button-prev.myposition 
                .swiper-button-next.myposition 
                .swiper-wrapper
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/product1.jpg", alt)
                        a(href="../pages/productdetail.html")
                            .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999  
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/product2.jpg", alt)
                        a(href="../pages/productdetail.html")
                            .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999  
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/product3.jpg", alt)
                        a(href="../pages/productdetail.html")
                            .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999  
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/popular4.jpg", alt)
                        a(href="../pages/productdetail.html")
                            .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/popular5.jpg", alt)
                        a(href="../pages/productdetail.html")
                            .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/product6.jpg", alt)
                        a(href="../pages/productdetail.html")
                            .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999
                    .swiper-slide
                        a(href="../pages/productdetail.html")
                            img.swiperpic(src="../../assets/product/product7.jpg", alt)
                        a(href="../pages/productdetail.html")
                            .productTxt
                                p.productTit United Athle 
                                p.productMinTit 亨利T
                                p.productPrice NT$ 640
                                p.productPriceDiscount NT$ 999 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js")     
    script(src="https://cdn.jsdelivr.net/npm/vue@2.6.14")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script.
        new Vue({
            el:'.selectBox-wrapper',
            data:{
                //初始值
                num:0,
                color:"",
                //count 限數量
                max:10
            },
            methods: {
                //讓他可以被加1
                handlePlus () {
                    if (this.num < this.max){
                        this.num++;
                    }
                },
                //讓他大於1時可以被減少
                handleSub() {
                    if (this.num > 1) {
                        this.num--;
                    }
                },
            },
            // 把 AJAX 取得的資料代入 Vue 中 max
            created() {
                axios
                .get('https://www.runoob.com/try/ajax/json_demo.json')
                .then(response => (this.info = response))
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            }
        })    
        //click btn alert
            document.getElementById("addProductBtn").addEventListener("click",function(){
                swal("你已加入購物車", "Add to cart thank!!", "success");
            });

            //- document.getElementById("addLikeBtn").addEventListener("click",function(){
            //- swal("你已加入收藏", "Add to Favorites thank!!", "success");
            //- });

        //點選產品小圖查看大圖！
            const arr = document.querySelectorAll('.minpic');
            let main = document.getElementById('mainimg');
            arr.forEach((el, index) => {
            el.addEventListener(('click'), function(e) {
                main.setAttribute('src',document.querySelector(`.minpic-${index}-img`).src)
            })
            })


        //如果無對應size時data-stock="false"就給於sizeBox_NO class
        let sizeBox = document.querySelectorAll('.round');
        Object.keys(sizeBox).forEach((key) => {
            let target = sizeBox[key];
            if(target.getAttribute('data-stock') == "false"){
                target.classList.add("NOSize");
            }
            //點選時Active樣式
            target.addEventListener('click', () => {
            target.classList.toggle("sizeBoxActive");
            ;
        })
            })

        //輪播
   
      // Main/Product image slider for product page
      $('#bigProductPic .mainImgSlider').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        arrows: true,
        fade: true,
        autoplay: false,
        autoplaySpeed: 4000,
        speed: 300,
        lazyLoad: 'ondemand',
        asNavFor: '.thumbNav',
        prevArrow: '<div class="slick-prev"><i class="i-prev"></i><span class="sr-only sr-only-focusable">Previous</span></div>',
        nextArrow: '<div class="slick-next"><i class="i-next"></i><span class="sr-only sr-only-focusable">Next</span></div>'
      });
      // Thumbnail/alternates slider for product page
      $('.thumbNav').slick({
        slidesToShow:4,
        slidesToScroll: 1,
        infinite: true,
        centerPadding: '0px',
        asNavFor: '.mainImgSlider',
        dots: false,
        centerMode: false,
        draggable: true, //可拖動
        speed: 200, //速度
        vertical: true, //垂直
        focusOnSelect: true,
        prevArrow: '<i class="bi bi-chevron-up verticalUpArrow"></i>',
        nextArrow: '<i class="bi bi-chevron-down verticalDownArrow"></i>',
        responsive: [

          {
            breakpoint:1199,
            settings: {
              vertical: false,
              slidesToShow: 6,
              slidesToScroll: 1,
              prevArrow: '<i class="bi bi-chevron-left verticalLeftArrow"></i>',
              nextArrow: '<i class="bi bi-chevron-right verticalRightArrow"></i>',
            }
          }
        ]


      });

      //keeps thumbnails active when changing main image, via mouse/touch drag/swipe
      $('.main-img-slider').on('afterChange', function (event, slick, currentSlide, nextSlide) {
        //remove all active class
        $('.thumb-nav .slick-slide').removeClass('slick-current');
        //set active class for current slide
        $('.thumb-nav .slick-slide:not(.slick-cloned)').eq(currentSlide).addClass('slick-current');
      });
 




