extends ../layout/layout.pug

block view    
    .companyNavWrap
        //<!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item 顧客服務
                li.breadcrumb-item.active(aria-current="page") 購物須知
                //<!------------------------- 這是左邊導覽列！當前頁面時＋上class名稱.companyNavActive-------------------------
        .service-Wrap
            .col-md-3.webNav
                h3.companyNavTitle 顧客服務
                ul.companyNav
                    li
                        a.companyNavItem(href="../pages/service_memberRule.html") 會員制度
                    li
                        a.companyNavItem.companyNavActive(href="../pages/service_shoppingNotice.html") 購物須知
                    li
                        a.companyNavItem(href="../pages/service_faq.html") 常見問題
                    li
                        a.companyNavItem(href="../pages/service_privacyPolicy.html") 隱私政策
            //<!------------------------- 這是文字內容！-------------------------
            .col-md-9.companyContentWrap
                p.bold [ 購物須知 ]
                ul.companyContent 
                    li.bold 購買前請詳閱以下敘述，同意以下賣場規範再行下單 !
                    li •  100%國內外公司貨，絕無仿冒品。
                    li •  於本賣場消費均開立統一發票。
                    li •  電子發票在取貨後七天內皆會開立並寄送至 下單時填寫的E-mail(請確實填寫正確以免無法收取)
                    li •  惡意不取貨已觸犯刑法第355條 請勿以身試法。
                    li •  超商門市取件付款者，請注意：惡意濫訂半年內未取達2次者將列入黑名單! 則無法享有任何會員優惠與貨到付款功能。
                ul.companyContent    
                    li.bold 出貨公告  
                    li •  16:00前下單皆於當日晚上出貨，16:00後下單最慢隔日晚上寄出。
                    li •  星期六、日公休不出貨。
                    li •  訊息統一週一至週五回覆。
                ul.companyContent 
                    li.bold 退換貨
                    li •  最重要的一點就是注意禮貌，請、謝謝、不好意思，你用什麼樣的態度，我們這邊就會用什麼樣的態度回覆。
                    li •  商品敘述都有打上尺寸表，請確認尺寸表後再行購買。不確定就問，不要自己亂下單。
                    li •  若尺寸不合欲更換，須自行負擔來回運費共$120（全家店到店）以及80元的換貨手續費。（我們也是付出時間幫您換貨，使用者付費，非常合理）。
                    li •  商品保持全新、吊牌未拆，並於取貨後的七天內用FB / IG 私訊或連絡表單聯絡我們。
                    li •  出清商品(早晨亂賣、活動限時特價）、襪子、內衣褲、貼身衣物、毛帽、所有白色商品，此外運動品牌並非精品，請勿用精品眼光審視，些微脫膠、瑕疵，恕不更換。發票遺失一律不接受換貨。
                    li •  賣場商品只提供換貨，不提供退貨。
                ul.companyContent
                    li.bold 「無法接受以上換貨流程請勿下單」
                