extends ../layout/layout.pug

block view    
    .companyNavWrap
        //<!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/service_memberRule.html") 顧客服務
                li.breadcrumb-item.active(aria-current="page") 常見問題
        //<!------------------------- 這是左邊導覽列！當前頁面時＋上class名稱.companyNavActive-------------------------
        .service-Wrap
            .col-md-3.webNav
                h3.companyNavTitle 顧客服務
                ul.companyNav
                    li
                        a.companyNavItem(href="../pages/service_memberRule.html") 會員制度
                    li
                        a.companyNavItem(href="../pages/service_shoppingNotice.html") 購物須知
                    li
                        a.companyNavItem.companyNavActive(href="../pages/service_faq.html") 常見問題
                    li
                        a.companyNavItem(href="../pages/service_privacyPolicy.html") 隱私政策
            .col-md-9.companyContentWrap
                p.bold [ 常見問題 ]
                ul.companyContent 
                    li.bold 態度好
                    li 所有問題都是有解決之道的，我們一起想辦法，一起努力。
                ul.companyContent
                    li.bold 態度差
                    li 我一定直接砲轟你，付錢真的不是最大。