extends ../layout/layout.pug

block view    
    .companyNavWrap
        //<!------------------------- 這是麵包屑！-------------------------
        nav.breadcrumb-wrap(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/service_memberRule.html") 顧客服務
                li.breadcrumb-item.active(aria-current="page") 會員制度
        //<!------------------------- 這是左邊導覽列！當前頁面時＋上class名稱.companyNavActive-------------------------
        .service-Wrap
            .col-md-3.webNav
                h3.companyNavTitle 顧客服務
                ul.companyNav
                    li
                        a.companyNavItem.companyNavActive(href="../pages/service_memberRule.html") 會員制度
                    li
                        a.companyNavItem(href="../pages/service_shoppingNotice.html") 購物須知
                    li
                        a.companyNavItem(href="../pages/service_faq.html") 常見問題
                    li
                        a.companyNavItem(href="../pages/service_privacyPolicy.html") 隱私政策
            //<!------------------------- 這是文字內容！-------------------------
            .col-md-9.companyContentWrap
                p.bold [ 會員制度 ]
                p.bold.focus 會員分級 : 一般會員 / 金牌會員
                ul.companyContent 
                    li 成為 OH.YA.CLUB 會員的好處？
                    li • 會員於官網消費金額系統自動累計。
                    li • 不定期限量贈活動優惠。
                ul.companyContent   
                    li 如何成為 OH.YA.CLUB 金牌會員?
                    li • 會員於官網消費，半年內累計滿 NT. 8,800 元，即可成為 OH.YA.CLUB 金牌會員。 
                ul.companyContent
                    li 成為金牌會員的好處？
                    li • 單筆消費2000元即可免運。
                    li • 不定期限量贈活動優惠。
                ul.companyContent
                    li 備註：
                    li • OH.YA.CLUB 保有更動折扣內容或細節之權利，並於公告通知後實施。
                    li • 若未遵守購買規則，將取消VIP 會員資格。

                                