extends ../layout/layout.pug

block view    
    .companyNavWrap
        //<!------------------------- 這是麵包屑不用理他唷！------------------------->
        nav(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="../pages/index.html") 首頁
                li.breadcrumb-item
                    a(href="../pages/about_hotStory.html") 關於ＯＨ.YA.CLUBE
                li.breadcrumb-item.active(aria-current="page") 最新消息
        //<!------------------------- 這是左邊導覽列不用理他唷！------------------------->
        .row.container-fluid
            .col-md-3.companyNav
                h3.companyNavTitle 關於OH.YA.CLUBE
                ul.companyNavItem
                    li
                        a(href="../pages/about_hotStory.html") 最新消息
                    li
                        a(href="../pages/about_aboutUs.html") 關於我們
                    li
                        a(href="../pages/about_contactUs.html") 聯絡我們
            // <!------------------------- 這是內容物！------------------------->
            block companyContent 