
// <!------------------------- 這是footer不用理他唷！-------------------------
footer.col-lg-12
  .col-lg-8 
    ul.navFirst
      li
        a(href="../pages/service_memberRule.html") 會員制度
      li
        a(href="../pages/service_shoppingNotice.html") 購物須知
      li
        a(href="../pages/service_faq.html") 常見問題
      li
        a(href="../pages/service_privacyPolicy.html") 隱私政策
    ul.navSecond
      li
        a(href="../pages/about_hotStory.html") 最新消息
      li
        a(href="../pages/about_aboutUs.html") 關於我們
      li
        a(href="../pages/about_contactUs.html") 聯絡我們
    p.navCopy Copyright © OH.YA.CLUB 2021 All rights reserved.
  .col-lg-3
    ul.navSociol
      li
        a(href="https://www.instagram.com/oh.ya.club/")
          img(src="../../assets/icon/Instagram.png", alt)
      li
        a(href="https://www.facebook.com/OHYACLUB/")
          img(src="../../assets/icon/Facebook.png", alt)
  a(href="#")  
    img.top(src="../../assets/icon/pageUp.png", alt="")
.col-12.placeholderBox
.col-12.phoneFooter
    .col-2.phoneFooterItem
      a(href="../pages/product.html")
        img(src="../../assets/icon/hotjar-brands.svg", alt="")
        p 熱賣商品
    .col-2.phoneFooterItem
      a(href="../pages/member_likelist.html")
        img.loveIcon(src="../../assets/icon/heart-solid.svg", alt="")
        //- i.bi.bi-heart 
        p 喜愛商品
    .col-2.phoneFooterItem
      a(href="../pages/index.html")
        img.homeIcon(src="../../assets/icon/home-solid.svg", alt="")
        //- i.bi.bi-house-door
        p 首頁
    .col-2.phoneFooterItem
      a(href="../pages/cart_detail.html")
        img(src="../../assets/icon/shopping-cart-solid.svg", alt="")
        //- i.bi.bi-cart4 
        p 購物車
    .col-2.phoneFooterItem
      a(href="../pages/member_info.html")
        img(src="../../assets/icon/user-solid.svg", alt="")
        //- i.bi.bi-person 
        p 我的帳戶
