//<!------------------------- 這是headerStart不用理他唷！-----------------------
header 
  .nav
    h1.logo
      a(href="../pages/index.html") 伍登
    ul.nav_item
      li.nav_item_title
        a#allDropdownMenu.dropdownMenuTit(href="#" data-bs-toggle="dropdown" aria-expanded="false") ALL
        ul.dropdown-menu.nav_dropdown-menu(aria-labelledby="allDropdownMenu")
          ul.dropdownItem
            li
              a.dropdown-item.dropdownTitle(href="../pages/product.html") ALL
            li
              a.dropdown-item(href="../pages/product.html") 服飾
            li
              a.dropdown-item(href="../pages/product.html") 鞋子
            li
              a.dropdown-item(href="../pages/product.html") 包款
            li
              a.dropdown-item(href="../pages/product.html") 配件
            li
              a.dropdown-item(href="../pages/product.html") SALE
            li.dropdownMenuImg
              img(src="../../assets/product/product13.jpg", alt)
      li.nav_item_title
        a#newDropdownMenu.dropdownMenuTit(href="#" data-bs-toggle="dropdown" aria-expanded="false") 新品
        ul.dropdown-menu.nav_dropdown-menu(aria-labelledby="newDropdownMenu")
          ul.dropdownItem
            li
              a.dropdown-item.dropdownTitle(href="../pages/product.htm") 新品
            li
              a.dropdown-item(href="../pages/product.html") 服飾
            li
              a.dropdown-item(href="../pages/product.html") 鞋子
            li
              a.dropdown-item(href="../pages/product.html") 包款
            li
              a.dropdown-item(href="../pages/product.html") 配件
            li
              a.dropdown-item(href="../pages/product.html") SALE
            li.dropdownMenuImg
              img(src="../../assets/product/product14.png", alt)
      li.nav_item_title
        a#SALEDropdownMenu.dropdownMenuTit(href="#" data-bs-toggle="dropdown" aria-expanded="false") SALE
        ul.dropdown-menu.nav_dropdown-menu(aria-labelledby="SALEDropdownMenu")
          ul.dropdownItem
            li
              a.dropdown-item.dropdownTitle(href="#") SALE
            li
              a.dropdown-item(href="../pages/product.html") 服飾
            li
              a.dropdown-item(href="../pages/product.html") 鞋子
            li
              a.dropdown-item(href="../pages/product.html") 包款
            li
              a.dropdown-item(href="../pages/product.html") 配件
            li
              a.dropdown-item(href="../pages/product.html") SALE
            li.dropdownMenuImg
              img(src="../../assets/product/product12.jpg", alt)
      li.nav_item_title
        a#apparelDropdownMenu.dropdownMenuTit(href="#" data-bs-toggle="dropdown" aria-expanded="false") 服飾
        ul.dropdown-menu.nav_dropdown-menu(aria-labelledby="apparelDropdownMenu")
          ul.dropdownItem
            li
              a.dropdown-item.dropdownTitle(href="../pages/product.html") 服飾
            li
              a.dropdown-item(href="../pages/product.html") 服飾
            li
              a.dropdown-item(href="../pages/product.html") 鞋子
            li
              a.dropdown-item(href="../pages/product.html") 包款
            li
              a.dropdown-item(href="../pages/product.html") 配件
            li
              a.dropdown-item(href="../pages/product.html") SALE
            li.dropdownMenuImg
              img(src="../../assets/product/product12.jpg", alt)
      li.nav_item_title
        a#shoeDropdownMenu.dropdownMenuTit(href="#" data-bs-toggle="dropdown" aria-expanded="false") 鞋子
        ul.dropdown-menu.nav_dropdown-menu(aria-labelledby="shoeDropdownMenu")
          ul.dropdownItem
            li
              a.dropdown-item.dropdownTitle(href="../pages/product.html") 鞋子
            li
              a.dropdown-item(href="../pages/product.html") 服飾
            li
              a.dropdown-item(href="../pages/product.html") 鞋子
            li
              a.dropdown-item(href="../pages/product.html") 包款
            li
              a.dropdown-item(href="../pages/product.html") 配件
            li
              a.dropdown-item(href="../pages/product.html") SALE
            li.dropdownMenuImg
              img(src="../../assets/product/product7.jpg", alt)
      li.nav_item_title
        a#bagDropdownMenu.fs18.fwMedium.dropdownMenuTit(href="#" data-bs-toggle="dropdown" aria-expanded="false") 包款
        ul.dropdown-menu.nav_dropdown-menu(aria-labelledby="bagDropdownMenu")
          ul.dropdownItem
            li
              a.dropdown-item.fs16.dropdownTitle(href="../pages/product.html") 包款
            li
              a.dropdown-item(href="../pages/product.html") 服飾
            li
              a.dropdown-item(href="../pages/product.html") 鞋子
            li
              a.dropdown-item(href="../pages/product.html") 包款
            li
              a.dropdown-item(href="../pages/product.html") 配件
            li
              a.dropdown-item(href="../pages/product.html") SALE
            li.dropdownMenuImg
              img(src="../../assets/product/product11.jpg", alt)
      li.nav_item_title
        a#bagDropdownMenu.dropdownMenuTit(href="#" data-bs-toggle="dropdown" aria-expanded="false") 配件
        ul.dropdown-menu.nav_dropdown-menu(aria-labelledby="bagDropdownMenu")
          ul.dropdownItem
            li
              a.dropdown-item.dropdownTitle(href="../pages/product.html") 配件
            li
              a.dropdown-item(href="../pages/product.html") 服飾
            li
              a.dropdown-item(href="../pages/product.html") 鞋子
            li
              a.dropdown-item(href="../pages/product.html") 包款
            li
              a.dropdown-item(href="../pages/product.html") 配件
            li
              a.dropdown-item(href="../pages/product.html") SALE
            li.dropdownMenuImg
              img(src="../../assets/product/product12.jpg", alt)
      li.nav_item_title
        a#brandDropdownMenu.dropdownMenuTit(href="#" data-bs-toggle="dropdown" aria-expanded="false") 品牌
        ul.dropdown-menu.nav_dropdown-menu(aria-labelledby="brandDropdownMenu")
          ul.dropdownItem
            li
              a.dropdown-item.dropdownTitle(href="../pages/product.html") 品牌
            li
              a.dropdown-item(href="../pages/product.html") 服飾
            li
              a.dropdown-item(href="../pages/product.html") 鞋子
            li
              a.dropdown-item(href="../pages/product.html") 包款
            li
              a.dropdown-item(href="../pages/product.html") 配件
            li
              a.dropdown-item(href="../pages/product.html") SALE
            li.dropdownMenuImg
              img(src="../../assets/product/product12.jpg", alt)
    ul.nav_iconGroup
      li.col-3.searchWrap
        a(href="#",data-bs-toggle="offcanvas", data-bs-target="#offcanvasTop", aria-controls="offcanvasTop")
          i.bi.bi-search 
        .offcanvas.offcanvas-top#offcanvasTop(tabindex="-1", aria-labelledby="offcanvasTopLabel")
          .offcanvas-body
              button.btn-close.text-reset.searchX(type="button", data-bs-dismiss="offcanvas", aria-label="Close")
              p 需要協助您搜索什麼嗎?
              input.searchInput.form-control(type="text",placeholder="搜尋商品.....")
      li.col-3
        .user-dropdown
          span#user-dropdown(data-bs-toggle="dropdown" aria-expanded="false")
            i.bi.bi-person   
          ul.dropdown-menu.user-dropdown-wrap(aria-labelledby="user-dropdown")
            li.user-dropdown-tit 登出
              a(href="../pages/member_login.html") 
            li.user-dropdown-item 
              a(href="../pages/member_info.html") 我的帳戶:一般會員
            li.user-dropdown-item
              a(href="../pages/member_points.html") 會員點數
            li.user-dropdown-item
              a(href="../pages/member_voucher.html") 我的優惠券
            li.user-dropdown-item
              a(href="../pages/cart_detail.html") 我的購物車
            li.user-dropdown-item
              a(href="../pages/member_order.html") 我的訂單
            li.user-dropdown-item
              a(href="../pages/member_likelist.html") 喜愛清單 
      li.col-3
        a.numRelative(href="../pages/member_likelist.html")
          i.bi.bi-heart
          span.loveNum 3
      li.col-3
        .min-cart
          span#min-cart(data-bs-toggle="dropdown" aria-expanded="false")
            a.numRelative(href="../pages/cart_detail.html") 
              i.bi.bi-cart4
              span.cartNum 2   
          ul.dropdown-menu.min-cart-wrap(aria-labelledby="min-cart")
            li.min-cart-tit  購物車有5件商品
            li.min-cart-item  
              .min-cart-pic
                a(href="../pages/productdetail.html")
                  img.shoppingListPic(src="../../assets/product/product11.jpg")
              .min-cart-txt 
                 a(href="../pages/productdetail.html") 
                  p.brandTit adidas</br>
                  p 克里夫蘭感恩紀念T
                  p M-紅色
                  p.min-cart-txt-price 1 * NT$900
            li.min-cart-item  
              .min-cart-pic
                a(href="../pages/productdetail.html")
                  img.shoppingListPic(src="../../assets/product/product11.jpg")
              .min-cart-txt 
                 a(href="../pages/productdetail.html") 
                  p.brandTit adidas</br>
                  p 克里夫蘭感恩紀念T
                  p M-紅色
                  p.min-cart-txt-price 1 * NT$900
            li.min-cart-txt-footer
              p.min-cart-price 總計NT$4,999
              button.btn.min-cart-btn
                a(href="../pages/cart_detail.html") 前往結賬      
    ul.phoneIconGroup
        li.searchWrap
          a(data-bs-toggle="offcanvas", data-bs-target="#offcanvasTop2", aria-controls="offcanvasTop")
            i.bi.bi-search 
          .offcanvas.offcanvas-top.offcanvasTop2#offcanvasTop2(tabindex="-1", aria-labelledby="offcanvasTopLabel")
            .offcanvas-body
              button.btn-close.text-reset.searchX(type="button", data-bs-dismiss="offcanvas", aria-label="Close")
              p 需要協助您搜索什麼嗎?
              input.searchInput.form-control(type="text",placeholder="搜尋商品.....")
        li
          a.btn-open(href="#")
            i.bi.bi-justify
.zeynep-overlay
.zeynep
  ul
    li
      a(href="../pages/product.html") ALL
    li.has-submenu
      a(href="#", data-submenu="newProduct") 新品
      #newProduct.submenu
        .submenu-header
          a(href="#", data-submenu-close="newProduct") 返回
        label 新品
        ul
          li
            a(href="../pages/product.html") 短袖
          li
            a(href="../pages/product.html") 長袖
          li
            a(href="../pages/product.html") 背心
          li
            a(href="../pages/product.html") 帽Ｔ
          li
            a(href="../pages/product.html") 短褲
          li
            a(href="../pages/product.html") 長褲
          li
            a(href="../pages/product.html") 外套
          li
            a(href="../pages/product.html") 內褲
    li
      a(href="../pages/product.html") SALE
    li.has-submenu
      a(href="#", data-submenu="apparel") 服飾
      #apparel.submenu
        .submenu-header
          a(href="#", data-submenu-close="apparel") 返回
        label 服飾
        ul
          li
            a(href="../pages/product.html") 短袖
          li
            a(href="../pages/product.html") 長袖
          li
            a(href="../pages/product.html") 背心
          li
            a(href="../pages/product.html") 帽Ｔ
          li
            a(href="../pages/product.html") 短褲
          li
            a(href="../pages/product.html") 長褲
          li
            a(href="../pages/product.html") 外套
          li
            a(href="../pages/product.html") 內褲
    li.has-submenu
      a(href="#", data-submenu="Sneakers") 鞋子
      #Sneakers.submenu
        .submenu-header
          a(href="#", data-submenu-close="Sneakers") 返回
        label 鞋子
        ul
          li
            a(href="../pages/product.html") 靴子
          li
            a(href="../pages/product.html") 布鞋
    li.has-submenu
      a(href="#", data-submenu="bag") 包款
      #bag.submenu
        .submenu-header
          a(href="#", data-submenu-close="bag") 返回
        label 包款
        ul
          li
            a(href="../pages/product.html") 側背包
    li.has-submenu
      a(href="#", data-submenu="accessories") 配件
      #accessories.submenu
        .submenu-header
          a(href="#", data-submenu-close="accessories") 返回
        label 配件
        ul
          li
            a(href="../pages/product.html") 手環
          li
            a(href="../pages/product.html") 帽子
    li.has-submenu
      a(href="#", data-submenu="brand") 品牌
      #brand.submenu
        .submenu-header
          a(href="#", data-submenu-close="brand") 返回
        label 品牌
        ul
          li
            a(href="../pages/product.html") nike
          li
            a(href="../pages/product.html") puma
    li.borderTop
      a(href="../pages/member_login.html") 會員登入
    li.borderBottom
      a(href="../pages/member_join.html") 會員註冊
    li.has-submenu
      a(href="#", data-submenu="about") 關於OH.YA.CLUBE
      #about.submenu
        .submenu-header
          a(href="#", data-submenu-close="about") 返回
        label 關於
        ul
          li
            a(href="../pages/about_hotStory.html") 最新消息
          li
            a(href="../pages/about_aboutUs.html") 關於我們
          li
            a(href="../pages/about_contactUs.html") 聯絡我們
    li.has-submenu
      a(href="#", data-submenu="service") 顧客服務
      #service.submenu
        .submenu-header
          a(href="#", data-submenu-close="service") 返回
        label 顧客服務
        ul
          li
            a(href="../pages/service_memberRule.html") 會員制度
          li
            a(href="../pages/service_shoppingNotice.html") 購物須知
          li
            a(href="../pages/service_faq.html") 常見問題
          li
            a(href="../pages/service_privacyPolicy.html") 隱私政策
    li.sociolIcon 
        a(href="https://www.instagram.com/oh.ya.club/")
          img(src="../../assets/icon/instagramBlack.png", alt)
        a(href="https://www.facebook.com/OHYACLUB/")
          img(src="../../assets/icon/FacebookBlack.png", alt)
//    <!------------------------- 這是headerEnd不用理他唷！------------------------

