//舊版元素跟圖片拆開

// .banner {
//     width: 100%;
//     height: 100vh;
//     background-color: $coffee;
//     background-image: url("../assets/background.png");
//     background-position: bottom;
//     background-size: 100%;
//     background-repeat: no-repeat;
//     position: relative;

//     @media(min-width:992px) {
//         height: 80vh;
//         background-position: left;
//         background-size: 75%;
//     }

//     .index-banner-swiper {
//         width: 80%;
//         height: 90vh;
//         position: absolute;
//         top: 0;
//         right: 0;

//         @media(min-width:992px) {
//             height: 70vh;
//         }

//         .index-banner-swiper-wrapper {
//             .index-banner-swiper-slide {
//                 img {
//                     width: 100%;
//                     height: 100vh;
//                     object-fit: cover;

//                     @media(min-width:992px) {
//                         height: 100%;
//                     }
//                 }
//             }
//         }
//     }
// }

// // banner swiper dot position
// .index-banner-swiper-dot {
//     width: 100%;
//     height: 10px;
//     display: flex;
//     justify-content: center;
//     bottom: 7%;
//     position: absolute;
// }


// .decorationArrow1 {
//     position: absolute;
//     font-size: 80px;
//     font-weight: 100;
//     bottom: -1vh;
//     right: 5vh;
//     z-index: 100;
//     color: rgba(255, 255, 255, 0.8);

//     @media(min-width:992px) {
//         bottom: -2%;
//         right: 15vh;
//         font-size: 150px;
//     }
// }

// .bannerTxt {
//     position: absolute;
//     z-index: 100;
//     display: flex;
//     flex-direction: column;
//     top: 40%;
//     left: 10%;

//     h3 {
//         color: #fff;
//         font-size: 40px;
//         @media(min-width:992px){
//             font-size: 92px;
//         }
//     }
//     p{
//         color: $light;
//         font-size: 20px;
//         @media(min-width:992px){
//             font-size: 50px;
//         }
//     }
// }
//////////////////////////////////////////////////////

.webBanner{
    @media(max-width:576px){
      display: none;
}}

.swiper-container{
position: relative;
}
 .phoneBanner{
  .swiper-pagination{
    position: absolute;
    bottom:15%;
  }
    @media(min-width:577px){
        display: none;
  }
}



