//白咖
@mixin whiteCoffee {
    border: 1px solid $coffee;
    color: $coffee;

    &:hover {
        background-color: $coffee;
        color: #fff;
    }
}

.voucherBtn {
    @include whiteCoffee;
    float: right;
    padding: 4px 25px;
}

//index查看更多
.moveBtn {
    margin: 0 auto;
}

.myBtn {
    margin-top: 50px;
    border: 1px solid #000;
    padding: 10px 50px 10px;
    @include fontSizeS;

    &:hover {
        background-color: $coffee;
        color: #fff;
    }
}


.countBtn {
    font-size: 20px;
}

.addLikeBtn {
    margin-bottom: 40px;
    margin-right: 20px;
    width:130px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid $grayDark;
    color: $grayDark;
    &:hover {
        border: 1px solid $coffee;
        color:$coffee;
    }
    @media(max-width:370px){
        width: 80%;
        margin-bottom:10px;
    }
}



//灰
.greyBtn {
    background-color: #a0a0a0;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #a0a0a0;
    }
}

//咖
.cartSubmitBtn {
    width: 100%;
    padding: 10px;
    @include coffeeBtn;
}

.cartBtn {
    @include coffeeBtn;

    @media(min-width:420px) {
        padding: 10px 25px;
        margin: 0px 20px;
    }

    @media(max-width:420px) {
        margin: 0px 5px;
    }
}

.longinBtn {
    width: 100%;
    padding: 10px 0px;
    @include coffeeBtn;
}


.storeBtn {
    @include whiteCoffee;
}


.likePageBtn {
    margin: 5px 0px 5px 5px;
    width: 110px;

    @media(min-width:1200px) {
        width: 130px;
    }

    @media(max-width:350px) {
        width: 90px;
        font-size: 12px;
    }

    border: 1px solid $grayDark;
    color: $grayDark;

    &:hover {
        border: 1px solid $coffee;
        color: $coffee;
    }

    display: flex;
    justify-content: center;
}
.passwordChangeBoxMyBtn{
    @include coffeeBtn;
}

.productModalAddCartBtn{
    @include coffeeBtn;
}

.productModalAddLikeBtn{
    @include whiteCoffee;
}