
.cartPrdName{
    @media(min-width:767px){text-align: center;}
}
.brandTit{
font-size: 18px;
font-weight: 500;
}
.shoppingList,.detailWrap{
    width: 100%;
}

.shoppingListTitle,
.shoppingListItemUl,
.shoppingListItem {
    position: relative;
    width: 100%;
}

.orderInfo,.sendInfo{
    @media (min-width: 1025px){
        width:48%;
        
    }
    // @media (min-width: 1025px){
    //     width: 50%;
        
    // }
}

//標題樣式
.shoppingListTitleUl {
    background-color: #6A6A6A;
    color: #fff;
    padding: 4px;
}

//手機版上標題
.phoneShoppingListTitle {
    @media(min-width:767px) {
        display: none;
    }
}

.phoneShowTit{
    @media(min-width:767px) {
        display: none;
    }
}

//電腦版標題
.webShoppingTitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    @media(max-width:767px) {
        display: none;
    }
}

//標題大包裹
.shoppingListTitle {
    display: flex;
}

//內容大包裹
.shoppingListItem {
    display: flex;
    border-bottom: 1px solid #000;
}


//內容
.webShoppingList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @media(min-width:768px) {
        padding:10px 0px;
    }
    @media(max-width:767px) {
        padding-left: 5px;
        justify-content: start;
    }
}

//圖片
.shoppingListPic {
    padding: 5px;
    width: 100px;
    height: 100px;
    @media(max-width:768px) {
        width: 95px;
        height: 95px;
    }
}


//總計只在電腦版顯示
.phoneDispayNone{
    @media(max-width:767px) {
        display: none;
    }
}
//刪除按鈕在手機版
.Xdelect{
    font-size: 20px;
    @media(max-width:768px) {
        position: absolute;
        right:35px;
    }
}


 .num{
     padding: 0px 10px;
 }


 .orderDetailcontentItem{
     font-size: 14px;
 }