//進度條------------------------------

.progressWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    ol {
        display: flex;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: relative;

        //web
        @media(min-width:992px) {
            padding: 0px 130px 0px;
        }

        @media screen and (min-width: 700px) and (max-width: 991px) {
            padding: 0px 100px 0px;
        }

        //phone
        @media screen and (min-width: 321px) and (max-width: 699px) {
            padding: 0px 40px 0px;
        }

        @media(max-width:320px) {
            padding: 0px 30px 0px;
            font-size: 14px;
        }


        &:not(:last-child)::before {
            content: "";
            position: absolute;
            background-color: #A0A0A0;

            //web
            @media(min-width:992px) {
                width: 290px;
                height: 2px;
                top: 20px;
                bottom: 0;
                right: 0;
                left: 140px;
            }

            //phone
            @media(max-width:700px) {
                width: 100px;
                height: 2px;
                top: 12px;
                bottom: 0;
                right: 0;
                left: 50px;
            }

            @media screen and (min-width: 700px) and (max-width: 991px) {
                width: 230px;
                height: 2px;
            }
        }

        span {
            position: relative;
            border-radius: 50%;
            background-color: #A0A0A0;
            color: #fff;

            //web
            @media(min-width:992px) {
                width: 40px;
                height: 40px;
                line-height: 40px;
            }

            @media screen and (min-width: 576px) and (max-width: 991px) {
                width: 35px;
                height: 35px;
                line-height: 35px;
            }

            //phone
            @media(max-width:991px) {
                width: 30px;
                height: 30px;
                line-height: 30px;
            }
        }

        p {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -30px;
            color: #A0A0A0;
        }
    }

    .processActive {
        span {
            z-index: 100;
            font-weight: 500;
            background-color: $coffee;
        }

        p {
            color: $coffee;
        }
    }

}


.coffeeLine {
    &::after {
        content: "";
        position: absolute;
        background-color: $coffee;

        //web
        @media(min-width:992px) {
            width: 290px;
            height: 2px;
            top: 20px;
            bottom: 0;
            right: 0;
            left: 140px;
        }

             @media(max-width:700px) {
                width: 100px;
                height: 2px;
                top: 12px;
                bottom: 0;
                right: 0;
                left: 50px;
            }

            @media screen and (min-width: 700px) and (max-width: 991px) {
                width: 230px;
                height: 2px;
            }
    }
}


