.cartContentWrap {
    margin: 0 auto;    
    max-width: 1520px;
    width: 100%;    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 10px 300px;
}

.carDetailTitle {
    font-size:20px;
    font-weight: 500;
}

.boldFace {
    font-weight: 500;
}

//購物資訊------------------------------   


.detailWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;


    //select
    .sendInfo {
        padding-top: 20px;
        line-height: 2rem;
        label {
            padding-bottom:15px;
        }
    }

    //結帳資訊
    .orderInfo {
        padding-top: 20px;

        .discountItem {
            img {
                width: 20px;
                height: 20px;
            }

            display:flex;
            justify-content: space-between;
            border-bottom: 1px solid #a0a0a0;
        }

        .discountCode {
            .discountCodeInput {
                @media(max-width:767px) {
                    width: 90%;
                }

                width:95%;
                border: 0;

                &:hover,
                &:focus {
                    outline: none;
                }
            }

            border-bottom: 1px solid #a0a0a0;
            padding-top: 40px;

            i {
                cursor: pointer;
            }
        }

        .usedDiscountCode {
            padding-top:35px;
            font-size: 14px;
            color: $coffee;
        }

        .cartPriceItem {
            display: flex;
            justify-content: space-between;
        }

        .cartSumItem {
            border-top: 2px solid #000;
            padding: 20px 0px 20px;
            display: flex;
            justify-content: space-between;
        }

        .checkBtnItem {
            display: flex;
            justify-content: center;

            .checkBtn {
                width: 100%;
                @include coffeeBtn;
            }
        }
    }
}


//cartSend
.userInfo {
    padding-top: 20px;
    line-height: 2rem;

  .userInfoUl{
      li{
        padding-bottom: 20px;
      }
  }
}

.pickUpArea {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pickUpArea {
    img {
        width: 50px;
        height: 50px;
    }

    text-align: center;
}

.payingArea {
    @media(min-width:991px) {
        padding: 30px 0px 50px 0px;
    }
}



//填寫寄送資料
.cartListCollapse {
    width: 100%;
    background-color: #EEEEEE;
    text-align: center;
    padding: 30px 0px;
    font-weight: 700;

    i {
        font-weight: 700;
        cursor: pointer;
    }
}

.cartListCount {
    @media(max-width:991px) {
        display: none;
    }
}

.webDisplayNone {
    @media(max-width:991px) {
        display: none;
    }
}

.PhoneDisplayNone {
    @media(min-width:992px) {
        display: none;
    }
}


.smallNote {
    font-size: 14px;
    color: #a0a0a0;
}

.ifPhonefontSize {
    @media(max-width:360px) {
        font-size: 12px;
    }
}


//訂單完成
.setUpThx {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

    @media(min-width:420px) {
        font-size: 20px;
    }

    img {
        width: 65px;
        height: 60px;
        margin-right: 30px;

        @media(max-width:420px) {
            width: 45px;
            height: 40px;
            margin-right: 10px;
        }
    }

}

@mixin orderDetailWrapMy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    line-height: 2rem;
}
.orderDetailWrap {
    @include orderDetailWrapMy;
}
.memberorderDetailWrap{
    @include orderDetailWrapMy;
    @media(min-width:576px){
        padding: 50px;
    }
}

@media(min-width:991px) {
    .orderDetailHistoryWrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        line-height: 2rem;
        border-top: 1px solid #a0a0a0;
        padding: 50px 0px;
    }
}

.orderDetailTitle {
    border-left: 5px solid $coffee;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
}

.orderDetailItem {
    font-size: 14px;
    padding-bottom: 40px;
}

.btnArea {
    display: flex;
    justify-content: center;
}

.cartBtn{
    margin: 0px 20px;
}

.Xdelete{
    position: absolute;
    right: 30px;
}


#pickUpcheck,#stockpile{margin-top: 5px;}

