pre{
    white-space: pre-wrap;
    word-break: keep-all;
}
.companyNavWrap {
    margin: 0 auto;    
    max-width: 1520px;
    width: 100%;    
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.companyContentWrap{
    padding-bottom: 300px;

}
.service-Wrap{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 100%; 
    @media(max-width:768px) {
        flex-wrap: wrap;
        justify-content:left;
    }
 
}
.companyNav{
    padding-top: 20px;
   line-height: 2.5rem; 
}
.companyNavItem{
    font-size: 18px;
}

.companyNavActive{
    color:$coffee;
    border-bottom:2px solid $coffee;
}

.companyNavTitle {
    position: relative;
    &::before {
        position: absolute;
        bottom: -14px;
        content: '';
        width: 220px;
        height: 1px;
        background-color: #A0A0A0;

        @media(max-width:992px) {
            width: 160px;
        }
    }
}

.companyNavTitle {
    font-weight: 500;
    font-size: 20px;
}


.bold{
    font-weight: 500;
    font-size: 16px;
}

.companyContent{
    padding: 10px 0px;
    line-height:1.5rem;
    font-size: 14px;
    font-weight: 400;
    li{
        font-family: 'Noto Sans TC', sans-serif;
    }
}

//顧客服務/會員制度
.focus {
    color: $coffee;
}

//關於ＯＨ.YA.CLUBE/最新消息
.hotStoryListItem {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #A0A0A0;
    margin-bottom: 30px;

    .hotStoryListItemContent {
        height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;

        @media(max-width:768px) {
            font-size: 16px;
        }
    }

    //web
    @media(min-width:768px) {
        .hotStoryListItemPic {
            width: 30%;

            img {
                width: 100%;
                padding-bottom: 20px;
            }
        }

        .hotStoryListItemTxt {
            width: 60%;
            padding-left: 40px;
        }
    }
}

.hotStorydate {
    font-size: 12px;
    color: #A0A0A0;
}

.hotStoryTitle {
    font-size: 18px;
    font-weight: 500;
}


//關於ＯＨ.YA.CLUBE/最新消息/內頁
.hotStoryWrap {
    @media(min-width:768px) {
        padding: 20px;
    }
}

.hotStoryPic {
    width: 80%;
    padding-bottom: 30px;

    @media(max-width:768px) {
        width: 100%;
    }
}

.pageBtnArea {
    width: 100%;
    display: block;
    padding-top: 100px;

    @media(max-width:576px) {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }

    .greyBtn {
        padding: 5px 30px;
        margin: 0px 15px 0px;
        a{color:#fff;}

        @media(max-width:576px) {
            padding: 3px 18px;
            margin: 0;
        }
    }

}

//關於ＯＨ.YA.CLUBE/關於我們

.aboutUsPic{
    img{
        width: 100%;
        max-width:760px;
    }
}
.aboutUsTxt{
    line-height: 2rem;
}
.aboutUsTitle{
    padding:30px 0px 10px;
    font-size: 20px;
    font-weight: 500;
    color: $coffee;
}

.socialPic{
    width: 270px;
    img{
        padding-top: 20px;
    }
}



.webNav{
    @media (max-width: 768px){
        display: none;
    }
}