.couponModalheader{
    border-bottom: 1px solid #dee2e6;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:1rem 0rem;
}
.couponModalheader.modal-header,.modal-body.couponModalList{width:100%;}
.couponModalcontent {
    padding:20px;
    @media(min-width:1440px) {
        width: 900px;
        padding:50px;
    }

    .couponModalBody {
        color: $grayDark;
    }

    .couponBtnWrap {
        display: flex;
        justify-content: center;

        .couponBtn {
            margin: 0px 10px;
        }
    }

    .couponInput {
        height: 40px;
        width: 60%;
    }

    .couponBtn {
        @media(min-width:1440px) {
            width: 20%;
        }

        padding: 7px 40px;

        @media(max-width:360px) {
            padding: 3px 20px;
        }
    }

    .couponSize {
        width: 350px;
    }

    .couponEnter,
    .couponWrap {
        display: flex;
        justify-content: space-between;
    }

    .couponWrap {
        flex-wrap: wrap;
    }
}


.voucherCoupon {
    padding-top: 50px;
}

.voucherSize {
    @media(min-width:991px) {
        width: 45%;
    }

    @media(max-width:990px) {
        width: 90%;
    }
}

.voucherDetail {
    padding: 10px 30px 10px;
}

.voucherWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media(max-width:991px){
        justify-content: center;
    }
}


.couponModalcontent,
.voucherCoupon {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

    li {
        padding-top: 20px;
    }

    .coupon {
        box-sizing: border-box;
        padding: 20px 0px;
        line-height: 1rem;
        background-color: #FCF4E965;
        display: flex;
        align-items: center;

        @media(max-width:400px) {
            width: 100%;
        }

        @media(max-width:1440px) {
            margin-bottom: 20px;
        }

        //checkbox
        input[type="checkbox"] {
            position: relative;
            width: 1.3em;
            height: 1.3em;
            color: #000;
            border: 1px solid #000;
            border-radius: 4px;
            appearance: none;
            outline: 0;
            cursor: pointer;
            margin: 0px 10px;

            &::before {
                position: absolute;
                content: '';
                display: block;
                top: 1px;
                left: 5px;
                width: 9px;
                height: 14px;
                border-style: outset;
                border-color: #000;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                opacity: 0;
            }

            &:checked {
                border-color: #000;
                background: #FCF4E9;

                &::before {
                    opacity: 1;
                }
            }
        }

        //票大小
        img {
            width: 20px;
            height: 15px;
        }
    }

    .couponDetail {
        display: block;
        border-left: 1px solid #fff;

        p {
            padding-left: 10px;
        }

        .discountTxt {
            font-size: 12px;
            color: #707070;
            font-weight: 500;
        }

        .couponTitle {
            font-weight: 500;
            color: $coffee;
            font-size:16px;
            line-height: 1.5rem;
            padding: 10px 0px 10px 10px;
        }

        .couponState {
            color: $coffee;
            font-size: 8px;
            padding-top: 10px;
        }
    }

}

.discountcontent{
    font-size: 12px;
}