footer {
    width: 100%;
    background-color: $grayDark;
    color: #fff;
    padding:20px;
    position: absolute;
    bottom: 0;
    height: 200px;
    @media(max-width:1199px){
        padding-bottom:280px
    }

    @media(max-width:350px){
        padding-bottom:330px
    }
    
    @media(min-width:992px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        bottom: 0;
    }
}


.navSociol {
    display: flex;
    @media(min-width:768px){
        justify-content: center;
    }
    justify-content:start;

    @media (min-width: 1025px) {
        width:80%;
        padding:5px;
    }
    img {
        width:70%;
        padding: 15px 0px;
    }
}

.navFirst,
.navSecond {
    display: flex;
    border-bottom: 1px solid #fff;
    padding-top: 20px;

    li {
        padding: 5px;
        @media(min-width:540px){
            padding: 5px 20px;
        }
    }

    a {
        color: #fff;

        &:hover {
            color: $coffee;
        }
    }
}

.navCopy {
    margin-top: 20px;
    font-size: 12px;
    padding: 0px 20px;
    @media(max-width:540px){
        padding:0;
    }
}


body {
    position: relative;
}

.top {
    width: 40px;
    height: 40px;
    bottom: 12%;
    right:2%;
    position: fixed;
    z-index: 10000;
    @media(max-width:350px){
        bottom: 19%;
    }
    @media(min-width:768px){
        bottom: 13%;
    }

}

.navSecond,
.navFirst {
    @media(max-width:320px) {
        li {
            a {
                font-size: 12px;
            }
        }
    }

}

.placeholderBox {
    height: 63px;

    @media(min-width:1199px) {
        display: none;
    }
}

.phoneFooter {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    -webkit-transform: translateZ(0);
    padding-top: 5px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .phoneFooterItem {
        padding: 5px 0px;
        text-align: center;
        font-size: 14px;
        p{
            margin: 0px;
        }
    }

    img {
        width: 25px;
        height: 25px;
        line-height: 25px;
        &:hover{
            opacity: 0.5;
        }
    }

    .homeIcon{
        width: 28px;
        height: 28px;
    }


    @media(min-width:1199px) {
        display: none;
    }
}