.nav {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-around;
    padding:1px 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

    @media(max-width:1199px) {
        height: 100px;
    }
}

.logo {
    display: flex;
    justify-content: end;
    width: 10%;
    align-items: center;
    flex-direction: column;
    @media(max-width:1199px){
    width: 20%;
    padding:10px 0px 0px 20px;
    align-items: center;
    flex-direction: column;
    }
    
    a {
        width: 85px;
        height: 85px;
        display: block;
        background: url('../assets/icon/logo.png') no-repeat;
        background-size: 100%;
        @include logo;
    }
}

.nav_item {
    width: 73%;
    padding-bottom:  10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    li {
        padding: 0px 20px 10px;
}
    @media(min-width:1500px){
        margin: 0 auto;
        li {
            padding: 0px 40px 10px;
    }
    }
    

    @media(max-width:1220px) {
        display: none;
    }
}

.nav_item_title {
    .dropdownMenuTit{
        letter-spacing:2px;
        &:hover {
            border-bottom: 12px solid $light;
        }
    }
}

.nav_iconGroup {
    width: 17%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: -10px;

    i {
        font-size: 24px;
        font-weight: 900;
    }

    li {
        padding: 0px 20px 20px;

        .bi-person {
            font-size: 28px;
        }
    }

    @media(max-width:1220px) {
        display: none;
    }

    .numRelative{
        position: relative;
    }
    .loveNum,
    .cartNum {
        width:20px;
        height: 20px;
        text-align: center;
        font-size: 14px;
        position: absolute;
        top:-20px;
        right:-20px;
        color: $coffee;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }
}

.phoneIconGroup {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
        padding-left: 20px;
    }

    .bi-search {
        font-size: 26px;
    }

    .bi-justify {
        font-size: 32px;
    }

    i {
        color: #707070;
    }

    @media(min-width:1220px) {
        display: none;
    }
}


//dropdown-menu

.nav_dropdown-menu {
    width: 350px;
    line-height: 1rem;
    padding: 24px 0px 40px;
    margin-top:10px !important;
    margin-left: -50px !important;
    background: rgba(255, 255, 255, 0.8);

    a {
        &:hover {
            background: rgba(255, 255, 255, 0);
            color: $coffee;
        }
    }
}

.dropdownTitle {
    position: relative;
    margin-bottom: 5px;

    &:before {
        content: '';
        width:85px;
        height: 1px;
        left: -2px;
        bottom: -3px;
        display: block;
        background-color: #000;
        position: absolute;
    }

}

.dropdownMenuImg {
    img {
        width:160px;
        height:200px;
        float: right;
        position: absolute;
        right:35px;
        top: 50px;
    }
}

.userBtnMenu {

    li {
        padding: 0;

        &:hover {
            background-color: #a0a0a0;

        }

        a {
            &:hover {
                background-color: #a0a0a0;
                color: #fff;
            }
        }

    }
}

.searchInput {
    border: 0;

    &:hover,
    &:focus {
        outline: 0 transparent;
        box-shadow: none;
    }

    font-size: 26px;
}


.searchWrap {
    .offcanvas-header {
        display: flex;
        justify-content: end;

        .searchX {
            padding-right: 20px;
        }
    }
}

.searchX{
    float: right;
}
.offcanvas-top{
    height:15vh;
}