
.index-wrap{
    position: relative;
}
.contentItem {
    @media(min-width:992px) {
        padding: 0px 100px 0px;
    }
    @media(max-width:991px){
       padding:20px;
    }
}

//熱賣商品
.hotProduct {
    padding: 50px 10px 0px;
    margin: 0 auto;
    max-width: 1520px;
    width: 100%;
}

.swiperpic{
    height:100%; 
    max-height:277px;
}

//廣告區
.advertise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 10px;
    margin: 0 auto;
    max-width: 1520px;
    width: 100%;
    @media(max-width:768px){
        padding: 65px 10px 0px;
    }

    @media(max-width:990px) {
        img {
            padding-bottom: 30px;
        }
    }
}

.advertiseItem{
    width: 48%;
    @media(max-width:768px){
        width: 100%;
    }
}
.adpic{
    height:100%; 
    max-height:390px;
}
//新品上市
.newProduct {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1520px;
    width: 100%;
    justify-content: space-between;
    padding:35px 10px 80px;
}

.newProductItem{
    line-height: 22px;
    flex-basis: 23.4%;
    max-width: 23.4%;
    width: 23.4%;
    @media(max-width:990px){
        flex-basis: 49%;
    max-width: 49%;
        width: 49%;
    }
}

//底下廣告
.bottomAD {
    width: 100%;
    img {
        width: 100%;
    }
    padding: 40px 0px 199px;
    @media(max-width:1199px){
        padding: 40px 0px 237px;
    }
    @media (max-width: 321px){
    padding: 40px 0px 287px;
}
}

.indexTitle{
    width: 100%;
    align-items: baseline; 
    display: flex;
    font-size: 24px;
    font-weight:700;
    margin: 0 0 20px;
    line-height: 20px;
    height: 20px;
    justify-content: left;
}


.product-bottom{
    padding-bottom: 100px;
}