//在web felx 在phone 垂直
.myProductListItemDetaile {
    padding-left: 10px;

    @media(min-width:992px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.myProductListItemPic {
    padding:10px;
    display: flex;
    justify-content: center;

    img {
        width: 100px;
        height: 100px;

        @media(max-width:576px) {
            width: 85px;
            height: 85px;
        }
    }
}

.myProductListItem {
    display: flex;
    border-bottom: 1px solid #000;
    align-items: center;
}


//標題樣式
.myProductListTitle {
    background-color: #313131;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}

//標題在992以下不要顯示
.webmyProductListListTitle {
    display: flex;
    text-align: center;
    padding:3px 0px;

    @media(max-width:991px) {
        display: none;
    }
}

.myProductListTotal {
    @media(max-width:991px) {
        display: none;
    }
}

//商品資訊標題在在992以上不要顯示 
.phonemyProductListListTitle {
    @media(min-width:992px) {
        display: none;
    }
}


.orderHistoryWrap {
    display: flex;
    justify-content: center;
}

.orderHistoryWrap {

    p,
    div {
        @media(max-width:380px) {
            font-size: 14px;
        }
    }

}

.likePageBtn {
    @media(max-width:400px) {
        width: 90px;
        font-size: 10px;
    }
}