.memberWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.memberWrapBox {
    padding-bottom: 230px;
    margin:50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 650px;

    //phone
    @media(max-width:768px) {
        width: 90%;
    }
}

.memberWrapBtnArea {
    width:100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid $grayDark;
    text-align: center;
}

//會員登入 註冊會員 按鈕
.memberWrapBtn {
    width:50%;
    text-align: center;
    cursor: pointer;
}

////會員登入 註冊會員 按鈕Active
@mixin  borderBottom{
    position: absolute;
    display: block;
    width: 50%;
    height: 5px;
    bottom: 0;
    background-color: black;
}

.memberWrapBtnloginActive{
    @include borderBottom;
    left: 0;
}
.memberWrapBtnjoinActive{
    @include borderBottom;
    right: 0;
}

//容器
.memberBox{
    width:70%;
    @media(max-width:576px){
        //phone
        width:100%;
    }
    line-height:3rem;
}




//臉書按鈕
.fbBtn {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #3B579D;
    a{
        color: #fff;
    }
}

.warnInfo{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:#F3DFDF;
    color: red;
    //display: none;
    margin-bottom: 20px;
}

//or分隔線
.separatorBar {
    font-size: 20px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    position: relative;
    color: #a0a0a0;

    ::before {
        content: "";
        position: absolute;
        width: 45%;
        height: 1px;
        background-color: #a0a0a0;
        right: 0;
        top: 20px;
    }

    ::after {
        content: "";
        position: absolute;
        width: 45%;
        height: 1px;
        background-color: #a0a0a0;
        left: 0;
        top: 20px;
    }
}

//保持登入
.signInWrap{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    input{
        margin-right:10px;
    }
}

//忘記密碼
.underline{
 text-decoration:underline;
}



.city-selector{display: flex;}

.PointModal{
    padding: 50px;
    @media (min-width: 990px){
        width: 900px;
    }
}

.pointModaltxt{padding-top: 1rem;}
