// .memberAreaPointsBox {
//     display: flex;
//     flex-wrap: wrap;
//     margin: 0 auto;
//     justify-content: space-between;
// }

// .memberAreaOrderBox {
//     margin: 0 auto;

//     @media(min-width:992px) {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//     }
// }

// .pointsWrap,
// .orderWrap {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;

//     @media(min-width:992px) {
//         padding: 50px;
//     }

//     @media(max-width:992px) {
//         padding: 20px;
//     }

// }

.pointsBox {
    padding:30px 10px;
    background-color:#FCF4E980;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;

    @media(min-width:992px) {
        align-items: center;
    }

    @media(max-width:992px) {
        padding: 20px;
    }
}

.pointsPic {
    width: 95px;
    height: 95px;
}

//分隔線 just web
@media(min-width:992px) {
    .pointTxt {
        position: relative;

        &::after {
            content: '';
            width: 2px;
            height: 90%;
            right: 0;
            top: 10px;
            background-color: #a0a0a0;
            position: absolute;
        }
    }
}

.pointTxt {
    @media(max-width:768px) {
        text-align: center;
    }
}

//10點
.bigPointNum {
    font-size: 50px;
    font-weight: 500;
    padding: 10px;
}

//點數規則說明,優惠卷說明
.voucherillustrate,
.pointillustrate {
    color: $coffee;
    text-decoration: underline;
    cursor: pointer;

}

//list

.pointsDetail,
.orderDetail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    line-height: 2.5rem;

    @media(max-width:991px) {
        padding-bottom: 40px;

        ul {
            border-top: 1px solid #000;
        }
    }


    li {
        border-bottom: 1px solid #000;

        @media(max-width:360px) {
            font-size: 14px;
        }
    }
}


//頂標題只在網頁顯示
.pointsDetailwebDisplay,
.orderDetailwebDisplay {
    display: flex;
    justify-content: space-evenly;
}

.webDisplay {
    padding: 5px;
    display: flex;
    background-color: $grayDark;
    color: #fff;
    text-align: center;

    @media(max-width:991px) {
        display: none;
    }
}

//小標題在網頁隱藏
.pointsTitle,
.orderTitle {
    @media(min-width:992px) {
        display: flex;
    }

    @media(min-width:991px) {
        display: none;
    }
}

.pointsDetailContent,
.orderDetailContent {
    text-align: center;

    @media(min-width:992px) {
        display: flex;
    }
}

//
.orderColor {
    padding-left: 5px;
    color: #3B579D;
}



//
.voucherEnterWrap {
    @media(max-width:1024px) {
        margin: 0 auto;
    }

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.voucherEnter {
    display: flex;
}

.voucherillustrate {
    float: right;
    @media (max-width:600px){
        padding-top: 20px;
    }
}

.voucherInput {
    @media screen and (min-width:600px) and (max-width: 991px) {
        width: 400px;
    }
}


.PointBigTitle,
.orderBigTitle {
    font-weight: 700;
}

.orderillustrate {
    @media(min-width:991px) {
        padding-top: 30px;
    }
}

//我的訂單詳情內頁
.orderDetailBigWrap {
    margin: 0 auto;

    .orderNum {
        font-size: 20px;
        padding: 50px 0px 20px 0px;

        @media(min-width:992px) {
            padding: 50px 0px 20px 45px;
        }
    }
}

.orderDetailHistoryWrap {
    padding: 0px 20px;
}

.orderHistoryList {
    margin: 0 auto;
}

// .orderHistoryWrap {
//     flex-wrap: wrap;
//     margin: 0 auto;
//     padding:0 20px;    
//     max-width: 1520px;
//     width: 100%;   
// }

.resultBoxWrap {
    display: flex;
    justify-content: flex-end;
}

.resultBox {
    padding-top: 20px;
    @media(min-width:992px) {
        padding: 20px 0px 0px 40px;
    }
}

.resultBoxContent {
    display: flex;
    justify-content: space-between;
}

.phoneBorderTop {
    @media(max-width:991px) {
        border-top: 1px solid #000;
        margin-top: 20px;
        padding-top: 20px;
    }
}

.backOrder{
    margin-top: 20px;
    padding-top: 20px;
    @media(min-width:991px) {
        padding-top: 20px;
        border-top: 1px solid #000;
    }
}
.phonemyProductListListTitle{
    padding: 4px;
}

