.member-areaWrap{
    margin: 0 auto;    
    max-width: 1250px;
    width: 100%;    
    padding:50px 10px 300px;
    @media(min-width:992px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}

.memberAreaContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;   
    max-width: 1520px;
}

.memberSwitchBtn {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;    
    max-width: 1520px;
    width: 100%;    

}

.memberBtn {
    width: 100%;
    padding: 10px 0px;
    margin: 0px 3px;
    background-color: #eeee;
    text-align: center;
    a{
        font-size: 16px;
        @media(max-width:359px){
            font-size: 14px;
        }
    }
}

.memberBtnActive {
    background-color: $coffee;

    a {
        color: #fff;
    }
}


//content

// .memberAreaInfoBox {
//     display: flex;
//     flex-wrap: wrap;
//     margin: 0 auto;
//     justify-content: space-between;
//     padding: 50px 20px;
//     max-width: 1520px;
//     width: 100%; 
// }

.userName{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.leftInfo {
    .userNameBox {
        display: flex;
        margin-bottom: 30px;
    }

    .userPic {
        width: 45px;
        height: 40px;
        padding: 0px 10px;
        background-color: #a0a0a0;
        border-radius: 50%;
        margin-right: 20px;
        line-height: 40px;
    }

    .gradeTab {
        margin-left: 20px;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $coffee;
        color: $coffee;
        border-radius: 10px;
    }

    .memberUp {
        padding: 15px 20px;
        background-color:#FCF4E980;

        a {
            color: $coffee;
            text-decoration: underline;
        }
    }
}

//
.gradePrice {
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    background-color: $coffee;
}

.gradePriceWrap {
    @media(max-width:768px) {
        margin-top: 30px;
    }

    .gradePriceIllustrate {
        color: #a0a0a0;
        font-size: 14px;
        padding-top: 30px;
    }
}

//
.infoForm {
 padding: 50px 0px;

 .infoFormTitle {
        font-size: 22px;

        @media(max-width:768px) {
            margin-top: 50px;
        }
    }

    .infoFormItem {
        display: flex;
        margin-top: 30px;
    }

    .infoFormItemfbIcon {
        width: 150px;
        height: 40px;
    }
}

.addaddress,
.necessary {
    color: $coffee;
}

.storeBtnArea {
    text-align: right;
}

#time{
background-color: white;
}

#opgroup{
    margin-top: 10px;
}