.min-cart,.user-dropdown{
  position: relative;
  
}
.min-cart-wrap{
  width: 300px;
}
.min-cart-wrap{
  &::after{
    right:0;
  }
}
.user-dropdown-wrap{
  &::after{
    left:50%;
  }
}
.min-cart-wrap,.user-dropdown-wrap{
  position: absolute;
  top: 30px !important;
  padding: 0 !important;
 &::after{
  position:absolute;
  content:"";
  top:-40px;
  transform:translateX(-50%);
  width: 0;
  height: 0;
  border-width:20px;
  border-style:solid;
  border-top-color:transparent;
  border-right-color: transparent ;
  border-bottom-color: #707070;
  border-left-color: transparent ;
 }
}
.user-dropdown-wrap{
  left:-65px!important;
  padding:0px!important;
  }
.user-dropdown-tit,.min-cart-tit{
  background-color: #707070;
  color: #fff;
  padding:3px 0px 3px 10px!important;
}

.min-cart-item{
  display: flex;
  padding: 10px!important;
  position: relative;
  &::after {
      content: '';
      width:280px;
      height:1px;
      margin: 0 auto;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: #a0a0a0;
      position: absolute;
  }
  
}

.user-dropdown-item{
padding-bottom: 5px !important;
}
.min-cart-txt{
  padding-left: 10px;
}

.min-cart-txt-price{
  position: absolute;
  right: 10px;
}

.min-cart-txt-footer{
  text-align: right;
}

.min-cart-price{
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 500;
}

.min-cart-btn{
  padding:3px 25px;
  background-color: $coffee;
  &:hover{
    opacity: 0.5;
  }
  a{
    color: #fff;
  }
}

