@mixin logo {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

@mixin fontSizeS {
    font-size: 24px;
    @media(max-width:1440px) {
        font-size: 20px;
    }
}

@mixin center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
@mixin coffeeBtn{
    background-color: $coffee;
    color: #fff;

    &:hover {
        background-color: #fff;
        border: 1px solid $coffee;
        color: $coffee;
    }
    
}