.PointModalsize{
  
    line-height: 3rem;
} 

.memberAreaPointsBox{
    .PointModalsize{
  @media (min-width: 1200px){
        width: 900px;
    }
    }
}

.memberAreaInfoBox{
    .pointModalsize{
        @media (min-width: 1200px){
            width: 900px;
        }
        }
    }

.pointModalsize{
    padding: 50px;
    line-height: 2rem;
}


#voucherModal,
#PointModal {
    @media(min-width:1200px) {
        padding-top: 25vh;
        padding-right:50vh;

    }
}

