.passwordChangeBox{
    margin: 0 auto;
    line-height: 3rem;
}

.passwordChangeBoxTitle{
    text-align: center;
    padding-bottom: 20px;
}

.passwordChangeBoxBtn{
    text-align: center;
    padding-top: 50px;
}

.passwordChangeBoxBtn{
    margin: 0 auto;
    padding: 20px 23px;
text-align: center;
}

.passwordChangeBoxMyBtn{
    width: 100%;
}