.modal-body{
padding: 0px !important;
}
.count-Area{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.selectBox-Item{
    display: flex;
    padding-top: 30px;
}

.productbtnarea{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    @media (min-width: 379px){
        width: 350px;
    }
}

.selectBox-Item-EL{
    margin-top: 5px;
}
    td,
    th,
    tr{
        font-size: 18px;
    }
    
.productDetallArea {
    display: flex;
    margin: 0 auto;    
    max-width: 1520px;
    width: 100%;    
    margin: 0 auto;
    flex-wrap: wrap;
    overflow: hidden;
    //web
    @media(min-width:767px) {
        padding: 0px 50px 0px;
    }

}


//productPic
.productView {
    flex:45%;
    max-width: 45%;
    width: 45%;

    .productViewBigpic {
        .bigpic {
            max-width:600px;
            max-height:800px;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                @media(min-width:768px) {
                    padding-right: 10px;
                }
            }
        }
    }


    .productViewMinpic {

        //phone
        @media(max-width:767px) {
            display: flex;
            justify-content: center;
            padding: 35px 0px 35px;
        }

        .minpic {

            //web
            @media(min-width:767px) {
                width: 160px;
                height: 160px;
                padding-bottom: 10px;

                img {
                    width: 90%;
                    height: 100%;
                }
            }

            //phone
            @media(max-width:767px) {
                padding: 0px 10px 0px;

                img {
                    width: 100%;
                }
            }

        }
    }

}

//productDetall
.productDetall {
    table {
        th {
            padding-right: 30px;
        }
    }

    .detailTable {

        //web
        @media(min-width:1440px) {
            padding-top: 50px;
        }
    }

    .productDetailTitle,
    .productColorDetail,
    .productSizeDetail,
    .productCurrentNumDetail {
        margin-bottom: 55px;
    }

    .sizeDetailBtn {
        margin-bottom: 10px;
        padding: 0px 5px 0px;
        background-color: #A0A0A0;
        color: #fff;
    }

    // .sizeBox {
    //     margin: 0px 2px 0px;
    //     padding: 5px 10px 5px;
    //     border: 1px solid $grayDark;
    //     border-radius: 5px;
    //     cursor: pointer;
    // }

    // .sizeBoxActive {
    //     border: 1px solid $coffee;
    //     color: $coffee;
    // }

    //if Sold out or no size
    .sizeBox_NO {
        margin: 0px 2px 0px;
        padding: 5px 10px 5px;
        border: 1px solid #A0A0A0;
        border-radius: 5px;
        color: #A0A0A0;
        position: relative;

        &::after {
            content: "✕";
            display: block;
            color: #A0A0A0;
            font-size: 30px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;

        }
    }

    //colorBox
    .colorBox {
        width: 2em;
        height: 2em;
        border: 1px solid #000;
        border-radius: 4px;
        appearance: none;
        outline: 0;
        cursor: pointer;
        margin: 0px 2px;
        &:hover{
            opacity: 0.5;
            border: 3px solid $coffee;
        }
    }

    .countArea {
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -40px;
        font-size: 20px;
    }

    .countbtn{font-size: 25px;}
    //modal--------------------
    .size_modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .sizeDetailModal {
        //web
        padding: 20px;
        @media(min-width:990px) {
            width: 900px;
            padding:50px;
        }
    }

    .sizeModalWrap {
        line-height: 2rem;

        .sizeExplanation {
            padding-left: 20px;

            @media(max-width:990px) {
                padding-bottom: 20px;
            }

            li {
                font-size: 14px;
                list-style: disc;
            }
        }

        .sizeView {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;

            @media(max-width:990px) {
                justify-content: center;
                align-items: center;
            }

            .sizeTable {
                table {
                    text-align: center;
                    height: 150px;

                    @media(min-width:488px) {
                        width: 450px;
                    }

                    @media(max-width:487px) {
                        width: 100%
                    }
                }

                .sizeTable-title{
                    font-weight: 500;
                    text-align: center;
                }
                td{
                    width: 70px;
                }
                td,
                tr,
                th {
                    font-size: 12px;
                    border: 1px solid #000;
                }

                //web
                @media(min-width:990px) {
                    width: 70%;
                }

                //phone
                @media(max-width:990px) {
                    width: 100%;
                    order: 2;
                    padding-top: 20px;
                }

            }



            .sizePic {

                //web
                @media(min-width:990px) {
                    width: 30%;

                    img {
                        width: 210px;
                        height: 200px;
                    }
                }

                //phone
                @media(max-width:990px) {
                    .sizePic {
                        width: 100%;
                        order: 1;
                    }
                }
            }
        }
    }
}

//modalEnd-----------------


//productDetallEnd



.productDescription {
    border-top: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
    line-height: 2rem;
    padding:40px 0px;
    @media (max-width: 766px){
        padding: 40px 20px; 
    }
}
.floatBox{
    padding-bottom: 40px;
}
.historyProduct{
    margin: 0 auto;
    max-width: 1520px;
    width: 100%;
    padding:40px 0px 280px;
    @media (max-width: 766px){
        padding: 40px 20px 260px; 
    }
}

.panelpadding{
    padding-bottom:25px;
}
.productViewHistory {
    padding: 60px 0px 80px 0px;

    h3 {
        padding-bottom: 20px;
    }
}

.currentNum {
    color: red;
    padding-left: 60px;
}