
.title{
    font-size: 24px;
    font-weight: 700;
}

.minTitle{
    font-size:26px;
    font-weight: 500;
}

.lovebtn{
    position: absolute;
    background-color: #fff;
    font-size: 25px;
    top:20px;
    right: 0;
    &:hover {
        color:$coffee;
    }
}
.floatBox{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @media (min-width: 1025px) {
    justify-content: space-between;
}}
.productDetall,.productView{
    margin: 0 auto;
    flex: 0 0 90%;
    max-width: 90%;
    width: 90%;
    @media (min-width: 1025px) {
    flex: 0 0 45%;
    max-width: 45%;
    width: 45%;
    }
}


.productDescription{
    width: 100%;
}

.productItem {
    margin-top: 20px;
    margin-right: 10px;
    position: relative;
    flex: 0 0 calc((100% - 20px)/ 2);
    max-width: calc((100% - 20px)/ 2);
    width: calc((100% - 20px)/ 2);
    overflow: hidden;

    img{
        border: 0;
        max-height: 100%;
        max-width: 100%;    
        vertical-align: inherit;
    }

    @media screen and (min-width: 661px) and (max-width: 1200px){
    flex-basis: calc((100% - 40px)/ 3);
    max-width: calc((100% - 40px)/ 3);
    width: calc((100% - 40px)/ 3);
    }

    @media (min-width: 1201px){
        flex-basis: calc((100% - 60px)/ 4);   
        max-width: calc((100% - 60px)/ 4);    
        width: calc((100% - 60px)/ 4);
    }

    @media(min-width:1440px) {
        font-size: 25px;
    }

}





.clickPage {
    display: flex;
    padding: 70px 0px 80px;
    justify-content: flex-end;

    .page-item {
        padding: 0px 5px 0px;
    }

    .page-link {
        color: rgb(56, 47, 47);

        &:hover {
            background-color: $grayDark;
            color: #fff;
        }
    }

}


//just web
.selectBoxTitle {
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

//just web
.productInfo {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;

    select {
        margin: -7px 0px 20px 10px;
        width: 250px;
    }

    @media(max-width:992px) {
        display: none;
    }
}

//just web
@media(max-width:992px) {
    .selectBox {
        display: none;
    }
}

//just web
.selectBoxItem {
    padding-bottom: 50px;

    h3 {
        font-size: 24px;

        @media(max-width:1440px) {
            font-size: 20px;
        }
    }

    p {
        text-align: right;
    }

    .collapse {
        font-size: 22px;

        @media(max-width:1300px) {
            font-size: 18px;
        }

        input {
            margin-right: 10px;
        }

        li {
            padding-bottom: 10px;
        }
    }

    @media(min-width:992px) {
        padding-right: 30px;
    }
}


//just web 
.productArea {
    @media(min-width:992px) {
        padding: 0px 50px 0px;
    }
}


//just phone
.phoneSelectBox {
    padding: 10px 0px 10px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #E1E1E1;
    color: #4D4D4C;

    &::after {
        display: block;
        content: '|';
        color: #000;
        position: absolute;
    }

    @media(min-width:992px) {
        display: none;
    }
}

.filters {
    cursor: pointer;
}

//just phone
.filters-menu {
    text-align: center;

    li {
        position: relative;

        &:hover::after {
            display: block;
            content: '✓';
            color: #fff;
            position: absolute;
            top: 5%;
            right: 10%;
        }
    }
}


.productImgWrap {
    position: relative;
}

.pt-20 {
    padding-top: 20px;
}

.soldOutBox {
    width: 100%;
    height: 97.5%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    background-color: #70707090;
    position: absolute;
    top:0;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    color: #fff;
    letter-spacing: 0.3rem;
}


//~
button {
	border: none;
    padding: 10px;
	position: relative;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.productImgWrap {
    &:hover {
        .productBtnArea {
            opacity:1;
        }
    }
}
.productBtnArea{
    width: 100%;
    display: flex;
    opacity:0;
    position: absolute;
    bottom: 5px;
    @media(max-width:1199px){
        display: none;
    }
}


.button--mimas {
    width: 50%;
    font-size: 14px;
	overflow: hidden;
	color: #000;
    background:#313131;
    &:hover{
        color:#fff;
        img{
            opacity:0.5;
        }
    }
}

.starBtnTxt{
	position: relative;
    i{
        padding-left: 5px;
    }
}

.button--mimas::before {
	content: '';
	background:$light;
	width:170%;
	left: -10%;
	transform: skew(30deg);
	transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button--mimas:hover::before {
	transform: translate3d(100%,0,0);
}



.phoneLikeIcon{
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    padding: 0px 5px;
    background-color:#fff;
    opacity: 0.8;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    @media(min-width:1200px){
        display: none;
    }
}