

.panel-title{
font-size: 18px;
font-weight: 500;
}

.panel-bigtitle{
  font-size: 20px;
  font-weight: 500;
}
.productArea{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
}

.productBox{
  display: flex;
  flex-wrap: wrap;
}

.pa {
  position: absolute;
}
.newTap,.saleTap{
  display: block;
  width: 45px;
  height: 20px;
  bottom: 15px;
  left: 10px;
  text-align: center;
  color: #fff;
  p{
    font-weight: 500;
  }
}

.newTap{
  background-color: $coffee;
}
.saleTap{
  background-color: red;
}
