#radio input[type="radio"]{
  display: none;
}

#radio input:checked+.button {
  cursor: default;
  border: 1px solid #b47f43;
  color: #b47f43;
}

#radio .button {
  display: inline-block;
  margin: 0 5px 10px 0;
  padding: 5px 10px;
  background: #f7f7f7;
  cursor: pointer;
}

// #radio .button:hover {
//   background: #bbb;
//   color: #fff;
//   border: 1px solid #313131;
// }

#radio .round {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  position: relative;
}

#radio .NOSize{
  color: #c8c8c8;
  &::before{
    border-top: #c8c8c8 1px solid;
    bottom: 0;
    content: '';
    display: block;
    height: 0;
    left: -25%;
    margin: auto;
    position: absolute;
    right: -25%;
    top: 0;
    transform: rotate(
-45deg);
  }
  &::after{
    border-top: #c8c8c8 1px solid;
    bottom: 0;
    content: '';
    display: block;
    height: 0;
    left: -25%;
    margin: auto;
    position: absolute;
    right: -25%;
    top: 0;
    transform: rotate(
45deg);
  }
}


#colorBox input[type="radio"]{
  display: none;
}

#colorBox input:checked+.button {
  cursor: default;
  border: 3px solid #b47f43;
  opacity: 0.5;
}

#colorBox .button {
  display: inline-block;
  margin: 0 5px 10px 0;
  padding: 5px 10px;
  border: 1px solid #000;
  cursor: pointer;
}

#colorBox .round {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  position: relative;
}