*{font-family:'sans-serif','Noto Sans TC';}
main{
    min-height: 100%;
    position: relative;
}
html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &.is-open{
        height: 100vh;
        overflow: hidden;
    }
}

img {
    width: 100%;
    vertical-align: middle;
}

a {
    color: #000;
    text-decoration: none;

    &:hover {
        color: $coffee;
    }
}

ol,
ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

.clearFloat {
    clear: both;
}


//
h3 {
    font-size: 35px;

    @media(max-width:1440px) {
        font-size: 25px;
    }
}