#selectMachine {
    width: 260px;

    li {
        padding-bottom: 10px;
    }

    label {
        padding-left: 10px;
    }

    .selectMachineTitle {
        position: relative;
padding-bottom:10px;
        &::after {
            content: '';
            width: 200px;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: #a0a0a0;
            position: absolute;
        }
    }}