.sixPcs-swiper {
    width:100%;
    font-size: 20px;
    line-height: 1.8rem;
    position: relative;
    .swiper-button-prev,
    .swiper-button-next {
        width: 25px;
        height: 25px;
        background-color: #fff;
        border-radius: 50%;
        top:48%;
        position: absolute;
    }

    //箭頭在首頁的位置
    .myposition{
        top:35%;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 12px;
        font-weight: 900;
        color: black;
    }

    .swiper-button-prev {
        left: 0px;
    }

    .swiper-button-next {
        right: 0px;
    }

}
