.thumbNavPic {
  width: 100%;
  padding: 2px 5px;
}

.mainImg {
  width: 100%;
}

// .productpicWrap{
//   margin: 0 auto;

//   @media(max-width:330px){
//     width:240px;
//   }
//   @media screen and (min-width:331px) and(max-width:400px){
//     width:280px;
//   }
//   @media screen and (min-width:401px) and (max-width:599px){ 
//     width:330px;
//   }
//   @media screen and (min-width:600px) and (max-width:991px){ 
//     width: 580px;
//   }
//   @media screen and (min-width:992px) and (max-width:1149px){ 
//     width: 400px;
//   }
//   @media screen and (min-width:1150px) and (max-width:1599px){ 
//     width: 500px;
//   }
//   @media screen and (min-width:1600px) and (max-width:1920px){ 
//       width: 800px;
//     }

//     @media(min-width:1600px){
//       padding-right: 30px;
//     }
// }




/* 電腦版上 */
@media(min-width:1199px) {
  .productpicWrap {
    display: flex;
  }

  .mainImgSlider {
    width: 80%;
  }

  .thumbNav {
    width: 20%;
  }
  .thumbNav {
    padding-top: 30px;
  }
}

.verticalUpArrow,
.verticalDownArrow {
  position: absolute;
  width: 100%;
  text-align: center;
}

.verticalUpArrow {
  top: 0;
}


.verticalLeftArrow,.verticalRightArrow{
  position: absolute;
  height: 20px;
  // font-weight: 900;
}

.verticalLeftArrow{
  display: flex;
  justify-content: left;
  // top: 25px;
  // bottom: 0;
  // left: -12px;
  // z-index: 1000;
}
.verticalRightArrow{
  display: flex;
  justify-content: right;
//top: 25px;
//bottom: 0;
// right: -5px;
z-index: 1000;
}


@media screen and (min-width:600px) and (max-width:991px){ 
  .verticalLeftArrow{
    top: 50px;
  }
  .verticalRightArrow{
    top: 50px;
  }
}

@media screen and (min-width:992px) and (max-width:1198px){ 
  .verticalLeftArrow{
    top: 35px;
  }
  .verticalRightArrow{
    top: 35px;
  }
}