.productTxt {
    padding-top:12px;
    text-align: center;
    line-height: 1.5rem;
}

.productTit{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.productMinTit{
    font-size: 16px;
    text-align: center;
}

.productPriceDiscount,.productPrice{
font-size: 12px;
text-align: center;
}


.productPriceDiscount{text-decoration: line-through;color: #707070;}


//member_forgetPosswordPage.html
.nodeTxt{
    font-size: 12px;
}

.dropdownMenuTit{
    font-size: 18px;
    font-weight: 500;
}

.dropdownTitle{
    font-size: 16px;
}

