$coffee:#b47f43;
$light:#ebcc9f;
$grayDark:#313131;




$form-check-input-width: 1.3em;
$form-check-min-height: 1.3em;
$form-check-input-checked-color: #fff;
$form-check-input-checked-bg-color:#000;
$form-check-input-border: 1px solid #000;



$input-focus-border-color:$grayDark;  
$input-btn-focus-color:$grayDark;
$input-btn-focus-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25); 