/* zeynepjs menu styles */
.zeynep {
    background-color: #ffffff;
    color: #050505;
    width: 260px;
  }
  
  .zeynep ul {
    list-style-type: none;
    padding: 0;
    -webkit-overflow-scrolling: touch;
  }

  .zeynep ul > li {
    display: block;
    padding-left: 20px;
  }
  
  .zeynep ul > li > a {
    color: inherit;
    display: block;
    font-size: 16px;
    padding: 13px;
    text-decoration: none;
    transition: all 150ms;
  }

  .zeynep ul > li > a:hover {
    background-color: #efefef;
    border-radius: 3px;
  }
  
  // .zeynep ul > li:not(:last-child) > a {
  //   border-bottom: 1px solid #efefef;
  // }
  
  .zeynep ul > li.has-submenu > a {
    background-image: url("../assets/icon/submenu-arrow.svg");
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
  }
  
  .zeynep ul > li.has-submenu > a:hover {
    background-image: url("../assets/icon/submenu-arrow-active.svg");
  }
  
  /* zeynepjs submenu styles */
  .zeynep .submenu {
    background-color: #ffffff;
    left: 295px;
  }
  
  .zeynep .submenu-header {
    background-image: url("../assets/icon/menu-back.svg");
    background-position: left 20px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    border-bottom: solid 1px #efefef;
    cursor: pointer;
    position: relative;
  }
  
  .zeynep .submenu-header > a {
    color: inherit;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 20px;
    padding-left: 40px;
    text-decoration: none;
  }
  
  .zeynep .submenu-header > a:before {
    background-image: url("../assets/icon/submenu-arrow.svg");
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    content: "";
    height: 100%;
    left: 26px;
    position: absolute;
    top: 0;
    transform: rotate(-180deg);
    width: 20px;
  }
  
  //內頁標題
  .zeynep .submenu > label {
    color:black;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 19px;
    padding-left: 30px;
    width: 100%;
    position: relative;
    padding-bottom: 10px;
    &::after{
      content: '';
        width: 210px;
        height:1px;
        bottom:0;
        left:30px;
        background-color: #000;
        position: absolute;
    }
  }

  


.borderTop{
  margin-top: 20px;
  padding-left: -20px;
  border-top: 1px solid #000;
}
.borderBottom{
  padding-left: -20px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.sociolIcon {
    display: flex !important;
  img{
    width: 35px;
  }
}

