@import "mymodal";
@import "productmodal";
@import "variable";
@import "slidesParduct";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/swiper/css/swiper.min.css";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "../../node_modules/flatpickr/dist/flatpickr.css";
@import "../../node_modules/zeynepjs/dist/zeynep.min.css";
@import "zeynep";
@import "reset";
@import "mixin";
@import "header";
@import "banner";
@import "product";
@import "txt";
@import "index";
@import "sixPcsSwiper";
@import "productDetallArea";
@import "passwordChangeBox";
@import "productList";
@import "companyNav";
@import "btn";
@import "cart_shoppingList";
@import "cart";
@import "cart_progress";
@import "coupon";
@import "member";
@import "memberArea";
@import "member_points_order";
@import "selectMachine";
@import "likeList";
@import "minMenu";
@import "mincart";
@import "radio";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');


.txtlh{
    line-height: 2rem;
}


.breadcrumb-wrap{
    width: 100%;
    margin-top: 25px;
}

body {
    font-family: 'Montserrat', 'Noto Sans TC';
}

a,p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0rem;
}
//Change banner swiper dot
.swiper-pagination-bullet {
    background-color: #fff !important;
}


.bi-suit-heart-fill{
    color: #FF2D2D;
}

//1024px以下
// @media(max-width:1024px){
//     max-width: 100%;
// }

//1800以上
// @media(min-width:1800px){

// }

/*如果螢幕寬度為 400px 以上 且 700px 以下，就套用 css 設定*/
// @media screen and (min-width: 400px) and (max-width: 700px){ 
//     ...
//   }

/*如果螢幕寬度為 768px 以上 且 1400px 以下，就套用 css 設定*/
// @media screen and (min-width:768px) and (max-width: 1400px){ 
//     ...
//   }

// <576px	Small   sm
// ≥576px	Medium  md
// ≥768px	Large   lg
// ≥992px	X-Large 
// ≥1200px	XX-Large
// ≥1400px

.danger{
    color: red;
}
.fs18{
    font-size: 18px;
}
.flex{
    display: flex;
}

.myfrom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .hidden{display: none;}
  #opgroup{display: flex;}
  .select-country,.select-city,.select-area{width:34%;}


.swiper-pagination-bullet{
    width: 13px;
    height: 13px;
  }

.swiper-pagination-bullets{
    bottom:50px!important;
}